---
subtitle: Car Wax, Coat, Window Tint & Seat Clean<br>汽车打蜡，打保护膜层，车窗隔热膜安装，车椅维护
layout: service
shareCount: ${share_count}
---
<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
  <th><a class="btn"  href="https://youtu.be/Sr3X0DCXI-M">Blooms' Million Dreams<br>Click to Enjoy</a></th>
  </tr>
 </table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>(A) Waxing / 打蜡</th>
        <th>Pricing (${params.currency})<br>abt 2Hrs</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Sedan</td>
        <td>${params.wax_sedan}</td>
      </tr>
      <tr>
        <td>SUV</td>
        <td>${params.wax_suv}</td>
      </tr>
      <tr>
        <td>MPV</td>
        <td>${params.wax_mpv}</td>
      </tr>
      
      <thead>
      <tr>
        <th>(B) Coating / 打保护膜层<br>3-layer German Product</th>
        <th>Pricing (${params.currency})<br>abt 4Hrs</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Sedan</td>
        <td>${params.coat_sedan}</td>
      </tr>
      <tr>
        <td>SUV</td>
        <td>${params.coat_suv}</td>
      </tr>
      <tr>
        <td>MPV</td>
        <td>${params.coat_mpv}</td>
      </tr>
      
      <thead>
      <tr>
      <th>(C1) Full Car Tint<br>全车黏隔热膜<br>JPJ Approved / 合法<br>60 - 80% IR</th>
      <th>Pricing (${params.currency})<br>abt 2Hrs</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Sedan</td>
        <td>${params.tint_sedan}</td>
      </tr>
      <tr>
        <td>SUV</td>
        <td>${params.tint_suv}</td>
      </tr>
      <tr>
        <td>MPV</td>
        <td>${params.tint_mpv}</td>
      </tr>
      
      <thead>
      <tr>
      <th>(C2) <strong>Premium USA</strong><br>Full Car Tint<p>
        全车黏<strong> 优质美国 </strong>隔热膜<br>JPJ Approved / 合法<br><strong>90 - 99% IR</strong><br><strong>Warranty 5 years</strong></th>
      <th>Pricing (${params.currency})<br>abt 2Hrs</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Sedan</td>
        <td>${params.premium_tint_sedan}</td>
      </tr>
      <tr>
        <td>SUV</td>
        <td>${params.premium_tint_suv}</td>
      </tr>
      <tr>
        <td>MPV</td>
        <td>${params.premium_tint_mpv}</td>
      </tr>
      
      <thead>
      <tr>
      <th>(D) Leather Seat Clean<p>
        皮革车椅维护<br>Brand: Karcher Germany<br>德国品牌</th>
      <th>Pricing (${params.currency})<br>abt 3Hrs</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Sedan</td>
        <td>${params.clean_sedan}</td>
      </tr>
      <tr>
        <td>SUV</td>
        <td>${params.clean_suv}</td>
      </tr>
      <tr>
        <td>MPV</td>
        <td>${params.clean_mpv}</td>
      </tr>
      <tr>
      
      <thead>
      <tr>
      <th>(E) Other Charges<br>其它费用</th>
       <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
        <td>No-Show Charge
        <p>缺席收费</td>
        <td>10% of Order Amount
         <p>10% 预订数额</td>
      </tr>
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
<h4 class="service-title">Customer Service / 客户服务</h4>
  <p><strong>Enquiry / 咨询电话:</strong>
  <p>${params.phone}</p>
  <p>${params.email}</p>
</div>
</div>
