---
subtitle: Carpentry Repairs & Projects / 家私维修和项目
layout: service
---

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Pricing (${currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>1st Hour Rate
          <p>第1小时收费</td>
        <td>${first_hr}/hr</td>
      </tr>
      <tr>
        <td>2nd Hour or more Rate
          <p>第2小时或以上收费</td>
        <td>${second_or_more_hr}/hr</td>
      </tr>
      <tr>
        <td>Service Extension
          <p>加时服务收费</td>
        <td>${currency}25 per 30-min block
       <p>每30分钟块 - 马币25</td>
      </tr>
      <tr>
        <td>Site Survey Fee
          <p>实地调查收费</td>
        <td>Free
        <p>免</td>
      </tr>
      
      <tr>
        <td>Projects
          <p>项目</td>
        <td>Quote after survey
        <p>调查后报价</td>
      </tr>
      
      <tr>
        <td>Condo Surcharge
        <p>公寓附加费</td>
        <td>10</td>
      </tr>
      
       <tr>
        <td>No-Show Charge
        <p>缺席收费</td>
        <td>40% of Order Amount
         <p>40% 预订数额</td>
      </tr>
      
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>

<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Service Info / 服务信息</h4>
    <p>Carpentry Repair, Maintenance and New Construction.
    <p>家私维修,维护和新建等。
    </p>
    <p><strong>Examples / 例子:</strong>
    <Ul>
      <li>Fix door closets doors/panels</li>
      <li>Change laminate/vinyl of furniture</li>
      <li>Simple wooden build - shelves, potting containers etc</li>
      <li>Smoothen closing of drawers, door hinges etc </li>
      <li>Project builds - Kitchen cabinets, shelves, book cases etc</li>
      <li>Wooden furniture repairs/fixes</li>
      <p>
      <li>橱门手把，铰链等更换</li>
      <li>维修，翻新家私</li>
      <li>木制等构造</li>
      <li>家私装修</li>
     </div>
</div>
<div class="divider"></div>
<div class="gap">
  <h4 class="service-title">Service Scope / 服务范围</h4>
  <Ul>
    <li>Minimum booking time is 1 hour. Service extension is charged at 30-min block</li>
    <li>Blooms does not provide build-up design</li>
    <li>Exclude electronic appliances installation</li>
    <li>Hourly rated prices exclude materials. Technicians will advice the choice of replacement parts (if applicable) and Blooms will provide a quotation</li>
    <p>
      <li>最短预订时间为 1 小时。加时服务以30分钟为计算单位</li>
      <li>家盟 (Blooms) 没有提供家私建造设计图</li>
      <li>不包括电器安装</li>
      <li>服务收费不包括零件。技师会推荐合适替代品或零件，之后家盟 （Blooms) 公司会给予报价</li>
    </ul>
  <strong>Enquiry / 询问电话：</strong>
  <p>
  <p>+60 10 883 0800 / +60 10 935 2700
  <p>www.blooms.my
</div>
</div>
