---
subtitle: ALL TYPES OF PROPERTY CLEANING.<br><br>Residential, Office, Shop lots, Factories etc.<br><br>For hygiene considerations, default is for Customers to provide own tools & detergents. Otherwise, please select correct option at TOOLS.
layout: service
---

<!--image published direct archived in assets/news-->
<div class="gap">
<h4 class="service-title">SERVICE LOCATIONS</h4>
<br>
  <img style="width:100%; border-radius:15px; border:1px solid #fd8f82" src="/assets/img/news/jb_v2.png"> <!--border radius 15px, colour fuchsia pink-->
  <br>
  <br>
  <img style="width:100%; border-radius:15px; border:1px solid #fd8f82" src="/assets/img/news/kl_v2.png">
</div>
</div>
<br>
<br>

<div class="divider"></div>
<div class="gap">
<h4 class="service-title">CLEANING PACKAGES - FIX OR FLEXIBLE SCHEDULE - YOUR CHOICE.</h4>
<br>
<img style="width:100%; border-radius:15px; border:1px solid #fd8f82" src="/assets/img/news/cleaning_package_v4.jpg">
<p>

<div class="pricing">
<table style="width:100%">
<tr>
  <th><a class="btn"  href="/assets/pdf/cleaning_package_v4.jpg"><b>Cleaning Package 10X & 20X</b><br>Brochure for download</a></th>
</tr>
 </table>
</div>
</div>
<p>
  
<div class="pricing">
  <table>
    
     <thead>
      <tr>
       <th><b>STANDARD CLEAN</b></th>   <!--STANDARD CLEANING-->
      <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
  
      <tr>
        <td><b>Very Small Condo</b><br>(Studio, 1BR)<br>1 Crew</td>
        <td>${params.standard_small_condo}/Unit<br>About 3Hrs</td> 
      </tr>
      
      <tr>
        <td><b>Standard Condo</b><br>(2BR or more)<br>2 Crews</td>
        <td>${params.standard_condo}/Hr<br>Min Book 2.5Hrs</td>
      </tr> 
      <tr>
        <td><b>Landed House/Property</b><br>2 Crews</td>
        <td>${params.standard_landed_house}/Hr<br>Min Book 4Hrs</td>
      </tr>
    </tbody>

    <thead>
      <tr>
      <th><b>FESTIVE CLEAN</b></th>  <!--FESTIVE CLEAN-->
      <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Very Small Condo</b><br>(Studio, 1BR)<br>1 Crew</td>
        <td>${params.festive_small_condo}/Unit<br>Within 3.5Hrs</td>
      </tr>
      <tr>
        <td>
        <p><b>Standard Condo</b><br>(2BR or more)<br>2 Crews</p>
        <td>${params.festive_big}/Hr<br>Min Book 3.5Hrs</td>
      </tr>
      <tr>
        <td>
        <p><b>Landed House/Shop</b><br>2 Crews</p>
        <td>${params.festive_big}/Hr<br>Min Book 5Hrs</td>
      </tr>
      </tbody>
    
      <thead>
      <tr>
      <th><b>RENOVATION CLEAN</b></th>  <!--RENOVATION CLEAN-->
      <th><b>Pricing (${params.currency})<br>Include tools &<br>cleaning solution</b></th> 
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Very Small Condo</b><br>(Studio, 1BR)</td> <!--Reno Very Small Condo-->
        <td>${params.reno_small_condo}/Unit<br>4 to 5Hrs</td>
      </tr>
      
      <tr>
        <td><b>Condo or<br>1-Storey House</b></td>
        <td>${params.reno_standard_house}/Hr<br><br>   <!--1-Storey House or Condo-->
          <p><b>2BR Condo</b><br>Book 6Hrs<br>
          <p><b>3BR++ Condo</b><br>Book 7Hrs<br>
          <p><b>1-Storey House<br>or Commercial</b><br>Book 8Hrs</td> <!--${(params.malaysia_sw * 2.5).toFixed(0)}-->
      </tr>

      <tr>
        <td><b>Big House</b></td>       <!--Reno Big House-->
        <td>${params.reno_big_house}/Day<br><br>
          <p><b>2-3 Storey House</b><br>Book 1 Day<br>
          <p><b>Bungalow</b><br>Book 1.5 Days</td>
      </tr>

     </tbody>
    
     <thead>
      <tr>
      <th><b>MOVE IN/OUT Clean</b></th>   <!--MOVE IN/OUT CLEANING-->
      <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
       <td><b>Very Small Condo</b><br>(Studio, 1BR)<br>1 Crew</td> <!--Very Small Condo-->
       <td>${params.move_small_condo}/Unit<br>Within 3.5Hrs</td>
      </tr>
      
      <tr>
        <td><b>Standard Condo</b><br>(2BR or more)<br>2 Crews</td> <!--Std Condo-->
        <td>${params.move_landed}/Hr<br>Min Book 4Hrs</td>
      </tr>
      
      <tr>
        <td><b>Landed House/Shop</b><br>2 Crews</tp>    <!--Landed House-->
        <td>${params.move_landed}/Hr<br>Min Book 5Hrs</td>
      </tr>
      
      </tbody>

    <thead>
      <tr>
        <th><b>Standard Clean Packages</b></th>
        <th><b>Discount</b></th>
      </tr>
    </thead>
    <tbody>
       <tr>
         <td><b>10X</b><br>6-month validity</td>
         <td>${params.package_10}% for <b>10</b> Bookings</td> 
      </tr>
      
      <tr>
        <td><b>20X</b><br>12-month validity</td>
        <td>${params.package_20}% for <strong>20</strong> Bookings</td> <!--service_dev3.json - "isPackage" = "true" value, does not multiply lpf.-->
      </tr>
      
       <tr>
      <td><b>Booking Tips</td>
        <td><a class="btn" href="/assets/img/news/cleaning_package_v4.jpg">Download</td>
      </tr>
      <tbody>
       
      <thead>
      <tr>
        <th><b>Other Charges</b></th>
        <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Service Extension</td>
        <td>30-min block</td>
      </tr>
      <tr>
      <td>No-Show Charge</td>
      <td>40% of Order</td>
      </tr>
    </tbody>
  </table>
  <div class="fineprint">
  Prices subject to change without prior notice
</div>
</div>
      
<div class="divider"></div>

<div class="gap">
<h4 class="service-title">ADDITIONAL INFO ON STANDARD CLEANING PACKAGES</h4>

<p><b>Package 10X & 20X</b><br>Enjoy 10% & 15% respectively. Transferable.</b>
<p>
  
  <div class="pricing">
  <table>
    <thead>
      <tr>
        <th><h3>Cleaning Package</h3></th>
       </tr>
    </thead>
    <tbody>
      <tr>
      <td>Package Service duration must co-relate to the house size.
        <p>
        <p><strong>Package is transferable</strong>, but non-refundable, valid for 6 (10X) and 12 months (20X) respectively.
        <p>
        <p>Customers can opt to manage their booking themselves, or arrange with Blooms to Service their house on repeated schedules.
        <p>
        <p>Any Service extensions are possible, but will be charged standard price in blocks of 30-mins.</p>
        </td>
      </tr>
      </tbody>
    
    <thead>
      <tr>
        <th><h3>Package Purchase Process</h3></th>
       </tr>
    </thead>
    <tbody>
       <tr>
         <td><strong>Package purchase must be accompanied by one Service booking</strong>, to determine Package quantum/price.
        <p>
        <p>When purchasing Package, there is <strong>no need to input any code for the 1st booking</strong>. Discount will be calculated into the Package price.
        <p>
        <p>A confidential unique Package Code will be provided, for 2nd booking onwards. Customers are reminded to closely safeguard the code to avoid mis-use by others.
        <p>
           <p><strong>Only credit card or bank transfer payment is accepted</strong>.</p>
       </td>
       </tr>
     <t/body>
    
       <thead>
      <tr>
        <th><h3>Booking Steps</h3></th>
       </tr>
    </thead>
    <tbody>
     <tr>
     <td>Customer to book as normal, selecting desired Service duration. <strong>Remember to input unique Package Code everytime</strong> when booking, to enjoy discounted price.
       <p>
       <p>Blooms' crews on recognising a Package Order will not seek payment on site.</p>
     </td>
     </tr>
     <t/body>
  </table>
  <div class="fineprint">
  Package is transferable, subject to change with notice
</div> <!--Gap-->
</div> <!--Pricing-->
</div> <!--Fine Print-->
      
<div class="divider"></div>

<div class="gap">
<div class="service-info">
  <h5 class="service-title">Service Info</h5>
  <p>For hygiene considerations, Blooms standard booking will be to use Customers' tools & cleansing solutions.<br><Br>Should customer need Blooms to bring tools, please select correct option and there will be an additional charge of MYR20.
  <p><b>Standard Cleaning Scope Excludes:</b>
        <ul>
          <li>lightings, curtains, window blinds, carpets, etc.</li>
          <p>
          <li>Any permanent stains.</li>
            <p>
          <li>Laundry such as washing socks, towels, floor mats etc.</li>
              <p>
          <li>Ironing or laundry (our cleaners are not trained). Clothing can be delicate, expensive & personal. Untrained crews may spoil them.</li>
                <p>
          <li>Cleaning at heights over 3m, or any locations which are unsafe.</li>
                  <p>
          <li>Cleaning or moving of valuable items, major shifting of furniture etc.</li>
                    <p>
          <li>Cleaning of electrical appliances (scope of Festive Cleaning).</li>
                      <p>
          <li>Clearing of animals'/birds' droppings. (scope of Dis-infection Service).</li>
                   
      </ul>
  
   <p><b>Festive Cleaning Guide:</b>
   <p>When a house or apartment is not regularly cleaned. Low cleaning frequency of once every 2 months or longer is a rule of thumb.<br><Br>Customers requiring a through clean, 
     involving significant shift of furniture, cleaning of "low" communal areas, light fixtures, insides of closets, cupboards, display shelves, full window clean etc, in preparation for a festive or an occasion.</p>
        
        <p><b>Move In/Out Cleaning Scope Excludes:</b>
        <ul>
          <li>Discarding of rubbish offsite.</li>
          <p>
          <li>Providing cartons.</li>
            <p>
          <li>Moving or carrying furnitures.</li>
              <p>
          <li>Dismantling of items.</li>
                <p>
          <li>Cleaning at heights over 3m, or any locations which are unsafe.</li>
       </ul>
  
    </div>
    </div>
   
 <div class="divider"></div>
    
 <div class="gap">
 <div class="service-info">
 <h4 class="service-title">For away Customers, with Homes in Johor Bahru:</h4>
   <ul>
   <li>Even when you are away, you can enjoy home services in Johor Bahru, and pay by credit card. Add and select the correct Malaysian home address when booking.</li>
     <p>
     <li>Under Comment Window, help to input your Malaysian proxy (family members, friends, neighbours, relatives etc) mobile number, for us to coordinate with him/her.</li>
    </ul>
  </div>
  </div>
    
 <div class="divider"></div>
   
 <div class="gap">
 <div class="service-info">
 <h5 class="service-title">Customer Care</h5>
  <p>60 10 935 2700</p>
  <p>${params.email}</p>
  <p>www.blooms.my</p>
  </div>
  </div>
