---
subtitle: Festive Cleaning：House Move-In/Out, Christmas, New Year or Chinese New Year (CNY) thorough cleaning<br>深度清洗： 搬家前后或大扫除
layout: service
---
<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
  <th><a class="btn"  href="https://youtu.be/Sc-Z1N4DjxM">Service Video<br>家居服务视频</a></th>
  <th><a class="btn"  href="/assets/pdf/deep-clean1.jpg">Deep Clean Crews<br>清洗团队施工</a></th>
  <tr>
  <th><a class="btn"  href="https://youtu.be/Sr3X0DCXI-M">Vision Video<br>Blooms can make it work!</a></th>
  <th><a class="btn"  href="https://youtu.be/SclvbJ_azho">Blooms' 星洲日报采访视频</a></th>
  </tr>
 </table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Residential<br>住宅</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Condominium / 公寓<br>2 Crews (人)</td>
        <td>${params.deep_clean_condo}/Hr<br>Min 3Hrs<br>最少 3 小时</td>
      </tr>
      
      <tr>
        <td>Landed House / 有地住宅<br>2 Crews (人)</td>
        <td>${params.deep_clean_landed}/Hr<br>Min 5Hrs<br>最少 5 小时</td>
      </tr>
      <tr>
        <td>Cleaning Survey
        <p>深洗项目实地调查</td>
        <td>${params.clean_survey}/Trip</td>
      </tr>
      <tr>
        <td>Renovation Clean<br>家装修后清洗</td>
        <td>${params.renovation_clean}/Hr<br>Min 6Hrs<br>最少 6 小时</td>
      </tr>
      
      <thead>
      <tr>
        <th>Other Charges<br>其它收费</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Service Extension
        <p>加时服务</td>
        <td>${params.currency}35 per 30-min block<br>每30分钟块 - 马币35</td>
      </tr>
      <tr>
        <td>No-Show Charge<br>缺席收费</td>
        <td>40% of Order
        <p>40% 预订数额</td>
      </tr>
      <tr>
        <td>More Products</td>
        <td><a class="btn" href="/assets/pdf/Sureclean_pricelist-ERA.pdf">Download</a></td>
      </tr>
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">

  <h4 class="service-title">Service Info / 服务信息</h4>

  <p>Blooms provides own cleaning tools.
  <p>
  <p>House not maintained 3 months or more, and requires our crews to empty the item-loaded space, clean, and then put back the items. Festive, industrial, commercial or after party cleaning etc.
  <p>
  <p>公司自带清洗工具, 化济等配备。
  <p>
  <p>深入清洗范围： 屋子没打扫 2-3 个月（或以上），或需要员工搬空橱柜清洗。 佳节大扫除，工业，派对后清洗等。
  <p>
  <p><b>Condominium & Landed House<br>公寓和有地住宅</b>
      <ul>
         <li>Two (2) lady cleaners.</li>
         <p>
         <li>Condominium & Landed House minimum service duration - 3Hrs & 5Hrs respectively.</li>
         <p>
         <li>两位女清洗员工.</li>
         <p>
         <li>公寓和有地住宅最短服务时间为: 3 和 5 小时.</li>
     </ul>
    </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">

  <h4 class="service-title">Exclusions / 不包括:</h4>

  <ul>
    <li>Electronic appliances.</li>
    <li>Removal of stains.</li>
    <li>Carpets or Curtains.</li>
    <li>Relocation of furnitures or carrying heavy loads.</li>
    <li>Disposal of rubbish.</li>
    <p>
      <li>电器。</li>
      <li>消除污渍。</li>
      <li>地毯，窗帘等。</li>
      <li>家具和重物件搬运工作。</li>
      <li>清理垃圾。</li>
    </ul>
    <p><strong>Special cleaning requests</strong> can discussed. Please verify with Blooms Customer Care if unsure of Deep Cleaning scope.
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">

<h4 class="service-title">Customer Care / 客户服务</h4>
    <p><strong>Enquiry / 询问电话 :</strong> </p>
    <p>${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>
