---
subtitle: All Types of Property Cleaning.<br><br>Residential, Office, Shop lots, Factories etc. For hygiene considerations, default is for Customers to provide own tools & detergents.<br><br>所有物业清洗，包括住家，办公司，店面，厂房等等。因卫生考量，标准预订是客户自己提供清洗剂和工具。如需要 Blooms 携带，请在工具选适合的选项。
layout: service
---

<!--image published direct archived in assets/news-->
<div class="gap">
<h4 class="service-title">SERVICE LOCATIONS </h4>
<p>
  <img style="width:100%" src="/assets/img/news/jb_v1.png">
  <p>
  <img style="width:100%" src="/assets/img/news/klang_shah_alam_v1.png">
<p>
</div>
</div>
  

<div class="divider"></div>
<div class="gap">
<h4 class="service-title">CLEANING PACKAGES - FIX OR FLEXIBLE SCHEDULE - YOUR CHOICE. </h4>
<p>
<img style="width:100%" src="/assets/img/news/cleaning_package_v4.jpg">
<p>

<div class="pricing">
<table style="width:100%">
<tr>
  <th><a class="btn"  href="/assets/pdf/cleaning_package_v4.jpg"><b>Cleaning Package 10X & 20X</b><br>Brochure for download</a></th>
  <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives</a></th>
</tr>
 </table>
</div>
</div>
<p>
  
<div class="divider"></div>
<p>
<div class="pricing">
  <table>
    
     <thead>
      <tr>
       <th><b>STANDARD CLEAN<br>普通清洗</b></th>   <!--STANDARD CLEANING-->
      <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
  
      <tr>
        <td><b>Very Small Condo<br>特小公寓</b><br>(Studio, 1BR)
        <p><br>1 Crew (人)</td>
        <td><br>${params.standard_small_condo}/Unit (间)<br>About 3Hrs (小时)</td> 
      </tr>
      
      <tr>
        <td><b>Standard Condo<br>标准公寓</b><br>(2BR or more)
        <p><br>2 Crews (人)<br>Min Book 2.5Hrs (小时)</td>
        <td>${params.standard_condo}/Hr (小时)</td>
      </tr> 
      
      <tr>
        <td><b>Landed House/Property<br>有地物业</b>
        <p><br>2 Crews (人)<br>Min Book 4Hrs (小时)</td>
        <td>${params.standard_landed_house}/Hr (小时)</td>
      </tr>
    </tbody>

    <thead>
      <tr>
      <th><b>FESTIVE CLEAN<br>大扫除</b></th>  <!--FESTIVE CLEAN-->
      <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Very Small Condo<br>特小公寓</b><br>(Studio, 1 or 2BR)<br>1 Crew (人)</td>
        <td>${params.festive_small_condo}/Unit (间)<br>Within 3.5Hrs<br>3.5 小时以内</td>
      </tr>
      <tr>
        <td>
        <p><b>Standard Condo / 公寓</b><br>(3BR or more)<br>2 Crews (人)<br>Min Book 3.5Hrs
        <p><b>Landed House or Shop<br>有地物业</b><br>2 Crews (人)<br>Min Book 5Hrs</p>
        <td>${params.festive_big}/Hr (小时)</td>
      </tr>
      </tbody>
    
      <thead>
      <tr>
      <th><b>RENOVATION CLEAN<br>装修清洗</b></th>  <!--RENOVATION CLEAN-->
      <th><b>Pricing (${params.currency})</b></th> 
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Very Small Condo<br>特小公寓</b><br>(Studio, 1 or 2BR)<br>1 Crew (人)</td>
        <td>${params.reno_small_condo}/Unit (间)<br>Within 3.5Hrs<br>3.5 小时以内</td>
      </tr>
      
      <tr>
        <td><b>Standard Condo<br>标准公寓</b><br>(3BR or more)<br>2 Crews (人)<br>Min Book 4Hrs (小时)
        <p><b>Landed House or Shop<br>有地物业</b><br>2 Crews (人)<br>Min Book 6Hrs (小时)</p>
        <td>${(params.reno_clean*1).toFixed(1)}/Hr (小时)</td> <!--${(params.malaysia_sw * 2.5).toFixed(0)}-->
      </tr>
     </tbody>
    
     <thead>
      <tr>
      <th><b>MOVE IN/OUT Clean<br>搬家清洗</b></th>   <!--MOVE IN/OUT CLEANING-->
      <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td><b>Very Small Condo<br>特小公寓</b><br>(Studio, 1 or 2BR)<br>1 Crew (人)</td>
       <td>${(params.move_small_condo-0.5).toFixed(1)}/Unit (间)<br>Within 3.5Hrs<br>3.5 小时以内</td>
      </tr>
      
      <tr>
        <td><b>Standard Condo<br>标准公寓</b><br>(3BR or more)<br>2 Crews (人)<br>Min Booking 4Hrs
        <p>
        <p><b>Landed House or Shop<br>有地物业</b><br>2 Crews (人)<br>Min Booking 6Hrs</p>
        <td>${(params.move_big-0.5).toFixed(1)}/Hr (小时)</td>
      </tr>
      </tbody>

    <thead>
      <tr>
        <th><b>Standard Clean Packages<br>普通洗优惠配套</b></th>
        <th><b>Discount</b></th>
      </tr>
    </thead>
    <tbody>
       <tr>
         <td><b>10X</b><br>6-month validity</td>
         <td>${params.package_10}% for <b>10</b> Bookings</td> 
      </tr>
      
      <tr>
        <td><b>20X</b><br>12-month validity</td>
        <td>${params.package_20}% for <strong>20</strong> Bookings</td> <!--service_dev.json - "isPackage" = "true" value, does not multiply lpf.-->
      </tr>
      
       <tr>
      <td><b>Booking Tips<br>预订咨询</td>
        <td><a class="btn" href="/assets/img/news/cleaning_package_v4.jpg">Download / 下载</td>
      </tr>
      <tbody>
       
      <thead>
      <tr>
        <th><b>Other Charges<br>其他收费</b></th>
        <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Service Extension<br>加时服务</td>
        <td>30-min block<br>30分钟块计算</td>
      </tr>
      <tr>
      <td>No-Show Charge<br>缺席收费</td>
      <td>40% of Order<br>40% 预订数额</td>
      </tr>
    </tbody>
  </table>
  <div class="fineprint">
  Prices subject to change without prior notice
</div>
</div>
      
<div class="divider"></div>

<div class="gap">
<h4 class="service-title">ADDITIONAL INFO ON STANDARD CLEANING PACKAGES<br>普通清洗配套</h4>

<p><b>Package 10X & 20X</b><br>Enjoy 10% & 15% respectively. Transferable.</b>
<p>
  
  <div class="pricing">
  <table>
    <thead>
      <tr>
        <th><h3>Cleaning Package<br>清洗配套</h3></th>
       </tr>
    </thead>
    <tbody>
      <tr>
      <td>Package Service duration must co-relate to the house size.
        <p>
        <p><strong>Package is transferable</strong>, but non-refundable, valid for 6 (10X) and 12 months (20X) respectively.
        <p>
        <p>Customers can opt to manage their booking themselves, or arrange with Blooms to Service their house on repeated schedules.
        <p>
        <p>Any Service extensions are possible, but will be charged standard price in blocks of 30-mins.</p>
        </td>
      </tr>
      </tbody>
    
    <thead>
      <tr>
        <th><h3>Package Purchase Process<br>购买指示</h3></th>
       </tr>
    </thead>
    <tbody>
       <tr>
         <td><strong>Package purchase must be accompanied by one Service booking</strong>, to determine Package quantum/price.
        <p>
        <p>When purchasing Package, there is <strong>no need to input any code for the 1st booking</strong>. Discount will be calculated into the Package price.
        <p>
        <p>A confidential unique Package Code will be provided, for 2nd booking onwards. Customers are reminded to closely safeguard the code to avoid mis-use by others.
        <p>
           <p><strong>Only credit card or bank transfer payment is accepted</strong>.</p>
       </td>
       </tr>
     <t/body>
    
       <thead>
      <tr>
        <th><h3>Booking Steps<br>预订指示</h3></th>
       </tr>
    </thead>
    <tbody>
     <tr>
     <td>Customer to book as normal, selecting desired Service duration. <strong>Remember to input unique Package Code everytime</strong> when booking, to enjoy discounted price.
       <p>
       <p>Blooms' crews on recognising a Package Order will not seek payment on site.</p>
     </td>
     </tr>
     <t/body>
  </table>
  <div class="fineprint">
  Package is transferable, subject to change with notice
</div> <!--Gap-->
</div> <!--Pricing-->
</div> <!--Fine Print-->
      
<div class="divider"></div>

<div class="gap">
<div class="service-info">
  <h4 class="service-title">Service Info / 服务信息</h4>
  <p>For hygiene considerations, Blooms standard booking will be to use Customers' tools & cleansing solutions.<br><Br>Should customer need Blooms to bring tools, please select correct option and there will be an additional charge of MYR20.
  <p>因卫生考量，标准作息，客户将提供清洗工具，配备. 如需要公司提供保洁工具，请在预订时点击适当选项。
  <p><b>Standard Cleaning Scope Excludes / 普通清洗范围不包括:</b>
        <ul>
          <li>lightings, curtains, window blinds, carpets, etc.</li>
          <p>
          <li>Any permanent stains.</li>
            <p>
          <li>Laundry such as washing socks, towels, floor mats etc.</li>
              <p>
          <li>Ironing or laundry (our cleaners are not trained). Clothing can be delicate, expensive & personal. Untrained crews may spoil them.</li>
                <p>
          <li>Cleaning at heights over 3m, or any locations which are unsafe.</li>
                  <p>
          <li>Cleaning or moving of valuable items, major shifting of furniture etc.</li>
                    <p>
          <li>Cleaning of electrical appliances (scope of Festive Cleaning).</li>
                      <p>
          <li>Clearing of animals'/birds' droppings. (scope of Dis-infection Service).</li>
          <p>
            <li>灯饰，窗帘布，拉折式窗帘，地毯。</li>
            <p>
            <li>永久性污迹。</li>
              <p>
            <li>洗袜子，毛巾，桌布等。</li>
                <p>
            <li>烫或洗衣服。</li>
                  <p>
            <li>超过3米高或有危险性的地方，事物。</li>
                    <p>
            <li>洗或抹贵重物件，例如古董，水晶灯，名贵摆设品，画, 家具，等等。</li>
                      <p>
            <li>清洗电器。</li>
                        <p>
            <li>清楚鸟/小动物 （壁虎，蟑螂，蜘蛛等）屎。（ 属于消毒服务 ）</li>
            
      </ul>
  
   <p><b>Festive Cleaning Guide / 大扫除:</b>
   <p>When a house or apartment is not regularly cleaned. Low cleaning frequency of once every 2 months or longer is a rule of thumb.<br><Br>Customers requiring a through clean, 
     involving significant shift of furniture, cleaning of "low" communal areas, light fixtures, insides of closets, cupboards, display shelves, full window clean etc, in preparation for a festive or an occasion.</p>
        
        <p><b>Move In/Out Cleaning Scope Excludes / 搬家清洗范围不包括:</b>
        <ul>
          <li>Discarding of rubbish offsite.</li>
          <p>
          <li>Providing cartons.</li>
            <p>
          <li>Moving or carrying furnitures.</li>
              <p>
          <li>Dismantling of items.</li>
                <p>
          <li>Cleaning at heights over 3m, or any locations which are unsafe.</li>
          <p>
            <li>把废物载走。</li>
            <p>
            <li>提供纸箱。</li>
              <p>
            <li>搬家居，电器，等。</li>
                <p>
            <li>拆东西。</li>
                  <p>
            <li>超过 3米 高处清洗。</li></p>
      </ul>
  
    </div>
    </div>
   
 <div class="divider"></div>
    
 <div class="gap">
 <div class="service-info">
 <h4 class="service-title">For away Customers, with Homes in Johor Bahru:<br>处在别处用户，现在您可远程预订我们的服务，上门到您马来西亚-柔佛-的住址：</h4>
   <ul>
   <li>Even when you are away, you can enjoy home services in Johor Bahru, and pay by credit card. Add and select the correct Malaysian home address when booking.</li>
     <p>
     <li>Under Comment Window, help to input your Malaysian proxy (family members, friends, neighbours, relatives etc) mobile number, for us to coordinate with him/her.</li>
     <p>
     <li>预订前，请先输入正确的柔佛住址。</li>
     <p>  
     <li>付款栏，请选择信用卡付款。
     <p>
     <li>评论栏，请填写您柔佛的联系人资料，电话等，以便我们联系。</li>
  </ul>
  </div>
  </div>
    
 <div class="divider"></div>
   
 <div class="gap">
 <div class="service-info">
 <h4 class="service-title">Customer Care / 客户服务</h4>
  <p>+60 10 935 2700 & +65 8288 1445</p>
  <p>${params.email}</p>
  <p>www.blooms.sg</p>
  </div>
  </div>
