---
subtitle: Service indoor & outdoor (sand) water filters. Installation & Repair of indoor Water dispensers. / 维护，更换室内、外过滤水筒。安装和维修水机。
layout: service
---

<!--image published direct archived in assets/news-->
<div class="gap">  
<h4 class="service-title">PROMOTION! WHILE STOCKS LAST<br>OUTDOOR ULTRA FINE FILTRATION SYSTEM</h4>
<p>
<img style="width:100%" src="/assets/img/news/clean_water_outdoor.png">
<p>

<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
 <th><a class="btn"  href="https://youtu.be/SclvbJ_azho">Blooms' 星洲日报采访视频</a></th>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives<br>4个妻子的故事</a></th>
 </tr>
 </table>
</div>
</div>


<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Items</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>Outdoor SS304 Filter Installation<br>户外 304 不锈钢过滤器安装</td>
        <td>${params.outdoor}/Set（套)</td>
      </tr>
      
       <tr>
        <td>Automatic Water Bleed Timer<br>自动污水排放时器</td>
        <td>${params.auto_timer}/Set (套)</td>
      </tr>
      
     <thead>
      <tr>
        <th>Other Charges<br>(Where applicable)</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      
       <tr>
        <td>Condo Surcharge
         <p>公寓附加费</td>
        <td>10</td>
      </tr>      
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Service Info / 服务信息</h4>
  <br>
  <p><strong>(A) Indoor Water Dispenser Filter / 室内水机过滤筒</strong></br>
  Please Contact Customer Service.
  
<p><strong>(B) Outdoor Sand + Carbon Filter Tower / 户外沙碳过滤塔</strong></br>
 Please Contact Customer Service
</div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h4 class="service-title">Customer Care / 客户服务</h4>
  <p><strong>Enquiry / 询问电话 :</strong> </p>
  <p>${params.phone}</p>
  <p>${params.email}</p>
</div>
</div>
