---
subtitle: Service Outdoor Ultra-Fine Membrane Water Filters. Installation & Repair. / 安装u啊，维护/修户外过滤水器。
layout: service
---

<!--image published direct archived in assets/news-->
<div class="gap">  
<h4 class="service-title">PROMOTION!<br>OUTDOOR ULTRA FINE FILTRATION SYSTEM</h4>
<p>
<img style="width:100%" src="/assets/img/news/clean_water_outdoor.png">
<p>

<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
 <th><a class="btn"  href="https://youtu.be/SclvbJ_azho">Blooms' 星洲日报采访视频</a></th>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives<br>4个妻子的故事</a></th>
 </tr>
 </table>
</div>
</div>


<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Items</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Site Survey<br>JB Area 
         <p>
         <p>现场调查<br>柔佛地区</td>
        <td>Free / 免</td>
      </tr>
     
      <tr>
        <td>Site Survey<br>Outside JB 
         <p>
         <p>现场调查<br>柔佛以外地区</td>
        <td>${params.outside_jb}/Trip (趟)</td>
      </tr>
     
       <tr>
        <td>Outdoor SS304 Filter<br>Installation<br><b>See Below for<br>Service Info</b>
         <p>
         <p>户外 304 不锈钢<br>过滤器安装<br><b>请看以下服务信息</b></td>
        <td>${params.outdoor}<br> per Set（套)</td>
      </tr>
      
       <tr>
        <td>Automatic Water Bleed Timer
         <p>
         <p>自动污水排放时器</td>
        <td>${params.auto_timer}/Set (套)</td>
      </tr>
      
     <thead>
      <tr>
        <th>Other Charges<br>(Where applicable)</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      
       <tr>
        <td>Condo Surcharge
         <p>公寓附加费</td>
        <td>10</td>
      </tr>      
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Service Info / 服务信息</h4>
  <br>
  <p><strong>(A) Outdoor Water Filter Installation Booking Tips / 户外过滤水器安装预订提示</strong></br>
  <ul>
   <li>Please provide 3-working day notice when booking installation service.</li>
   <li>Payment mode in credit card.</li>
   <li>Plumbing not at installation area will be excluded from filter price.</li>
 </ul>
</div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h4 class="service-title">Customer Care / 客户服务</h4>
  <p><strong>Enquiry / 询问电话 :</strong> </p>
  <p>60 11 540 54088
  <p>${params.phone}</p>
  <p>${params.email}</p>
</div>
</div>
