---
subtitle: Standard Cleaning & House Packing Services. Come with own tools. 标准清洗和搬家包装服务，配备齐全。 
layout: service
---

<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
  <th><a class="btn"  href="/assets/pdf/cleaning-package.jpg"><b>Cleaning Package 10X & 20X</b><br>Brochure for download</a></th>
  <th><a class="btn"  href="https://youtu.be/OyAAi2bdcj4">CNY Video<br>新年视频</a></th>
<tr>
  <th><a class="btn"  href="https://youtu.be/SclvbJ_azho">Blooms' 星洲日报采访视频</a></th>
  <th><a class="btn"  href="https://youtu.be/Sc-Z1N4DjxM">清洗和维护居家<br>服务视频</a></th>
  </tr>
 </table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Condominium<br>公寓</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Small Condo / 小型公寓<br>Studio, 1 or 2BR<br>1 Crew (人）
        <td>${params.small_condo}/Job<br>3 to 3.5Hrs (小时)</td>
      </tr>
      
      <tr>
        <td>Big Condo / 大型公寓<br>3 or more BRs<br>2 Crews (人)</td>
        <td>${params.big_condo}/Hr<br>Min 3Hrs<br>最少 3 小时</td>
      </tr>
      
    </tbody>
    <thead>
      <tr>
        <th>Ground Level Property<br>有地产业</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Landed House / Office<br>有地住宅或办公室<br>2 Crews (人)</td>
        <td>${params.landed_house}/Hr<br>Min 4Hrs<br>最少 4 小时</td>
      </tr>
    <tbody>
       
    <thead>
      <tr>
        <th>Package Deals<br>优惠配套</th>
        <th>Discount</th>
      </tr>
    </thead>
    <tbody>
       <tr>
         <td><b>10X</b><br>6-month validity</td>
         <td>${params.package_10}% for <b>10</b> Bookings</td> 
      </tr>
      <tr>
        <td><b>20X</b><br>12-month validity</td>
        <td>${params.package_20}% for <strong>20</strong> Bookings</td> <!--service_dev.json - "isPackage" = "true" value, does not multiply lpf.-->
      </tr>
      <tbody>
       
      <thead>
      <tr>
        <th>Other Charges<br>其他收费</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Service Extension
          <p>加时服务</td>
        <td>30-min block
         <p>30分钟块计算</td>
      </tr>
      <tr>
        <td>Transport Surcharge<br>路程附加费
        <p>
        <p>Waived for<br>Landed House & Big Condo<br>有地住宅和大公寓免</td>
        <td>20.00</td>
      </tr>
      <tr>
        <td>No-Show Charge
        <P>缺席收费</td>
        <td>40% of Order Amount
        <p>40% 预订数额</td>
      </tr>
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
</div>
</div>
      
<div class="divider"></div>
<div class="gap">

  
  <div class="pricing">
  <table>
    <thead>
      <tr>
        <th><h3>Package Info<br>配套讯息</h3></th>
       </tr>
    </thead>
    <tbody>
      <tr>
      <td>Package Service duration must co-relate to the house size.
        <p>
        <p><strong>Package is transferable</strong>, but non-refundable, valid for 6 (10X) and 12 months (20X) respectively.
        <p>
        <p>Customers can opt to manage their booking themselves, or arrange with Blooms to Service their house on repeated schedules.
        <p>
        <p>Any Service extensions are possible, but will be charged standard price in blocks of 30-mins.</p>
        </td>
      </tr>
      </tbody>
    
    <thead>
      <tr>
        <th><h3>Purchase Instructions<br>购买指示</h3></th>
       </tr>
    </thead>
    <tbody>
       <tr>
         <td><strong>Package purchase must be accompanied by one Service booking</strong>, to determine Package quantum/price.
        <p>
        <p>When purchasing Package, there is <strong>no need to input any code for the 1st booking</strong>. Discount will be calculated into the Package price.
        <p>
        <p>A confidential unique Package Code will be provided, for 2nd booking onwards. Customers are reminded to closely safeguard the code to avoid mis-use by others.
        <p>
           <p><strong>Only credit card or bank transfer payment is accepted</strong>.</p>
       </td>
       </tr>
     <t/body>
    
       <thead>
      <tr>
        <th><h3>Booking Instructions<br>预订指示</h3></th>
       </tr>
    </thead>
    <tbody>
     <tr>
     <td>Customer to book as normal, selecting desired Service duration. <strong>Remember to input unique Package Code everytime</strong> when booking, to enjoy discounted price.
       <p>
       <p>Blooms' crews on recognising a Package Order will not seek payment on site.</p>
     </td>
     </tr>
     <t/body>
  </table>
  <div class="fineprint">
    Package is transferable, subject to change with notice
</div>
</div>
      
<div class="divider"></div>
<div class="gap">
  
  
  <div class="service-info">
    <h4 class="service-title">Service Info / 服务信息</h4>
    <p>
      Blooms provide cleaning tools & equipment. For packing assistance, Blooms only provide labour.
      <p>
        公司自带清洗工具，配备. 也有搬家包装服务，只提供人员，不载送，不包括纸箱，粘胶等配备.
        <p>
          
        <strong>Standard Cleaning Scope Excludes / 普通清洗范围不包括:</strong>
        <ul>
          <li>lightings, curtains, window blinds, carpets, etc.</li>
          <li>Any permanent stains.</li>
          <li>Laundry such as washing socks, towels, floor mats etc.</li>
          <li>Making up of beds, ironing, washing of soiled utensils, which are considered maid chores.</li>
          <li>Cleaning at heights over 3m, or any locations which are unsafe.</li>
          <li>Cleaning or moving of valuable items.</li>
          <li>Cleaning of electrical appliances.</li>
          <p>
            <li>灯饰，窗帘布，拉折式窗帘，地毯。</li>
            <li>永久性污迹。</li>
            <li>洗袜子，毛巾，桌布等。</li>
            <li>佣人职责的服务。</li>
            <li>超过3米高或有危险性的地方，事物。</li>
            <li>洗或抹贵重物件，例如古董，水晶灯，名贵摆设品，画等等。</li>
            <li>清洗电器。</li>      
</ul>
        <p>
          <strong>Condominium / 公寓</strong>
          <ul>
            <li>Number of cleaners / 人数: 1</li>
            <li>Minimum service duration / 最短服务时间: 3.5 hrs/小时 </li>
          </ul>
        </p>

        <p>
          <strong>Landed House / 有地住宅</strong>
          <ul>
            <li>Number of cleaners / 人数: 2</li>
            <li>Minimum service duration / 最短服务时间: 3.5 hrs/小时</li>
          </ul>
  
 <div class="divider"></div>
 <div class="gap">
 <h4 class="service-title">For Customers in Singapore, with Homes in Johor Bahru:<br>
     处在新加坡的用户，现在您可远程预订我们的服务，上门到您马来西亚-柔佛-的住址：</h4>
   <ul>
   <li>Even when you are in Singapore, you can enjoy home services in Johor Bahru, and pay by credit card. Add and select the correct <strong>Malaysian home address</strong> when booking.</li>
     <p>
     <li><strong>Under Comment Window</strong>, help to input your Malaysian proxy (family members, friends, neighbours, relatives etc) mobile number, for our coordinate with him/her.</li>
     <p>
     <li>预订前，请先<b>输入正确的柔佛住址</b>。</li>
     <p>  
     <li>付款栏，<b>请选择信用卡付款</b>。
     <p>
     <li><b>评论栏，请填写您柔佛的联系人资料，电话等</b>，以便我们联系。</li>
  </ul>
  </div>
    
 <div class="divider"></div>
 <div class="gap">
 <h4 class="service-title">Customer Care / 客户服务</h4>
  <p>${params.phone} & +65 8288 1445</p>
  <p>${params.email}</p>
  <p>www.blooms.sg</p>
   
     </div>
     </div>
  
