---
subtitle: Computer & Network Repair or Upgrade / 电脑和网络维修或升级
layout: service
---

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Items</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>On-site Assessment
          <p>现场测查问题</td>
        <td>${params.assessment}/Job</td>
      </tr>
      
       <tr>
        <td>Installation 1st Hr Rate
          <p>安装服务第1小时收费</td>
        <td>${params.first_hr}/Hr</td>
      </tr>
      
       <tr>
        <td>Installation 2nd Hr & more Rate
          <p>安装服务第2小时以上收费</td>
        <td>${params.second_or_more_hr}/Hr</td>
      </tr>
      
       <tr>
       <td>Workshop Repair
        <p>回厂维修</td>
        <td>${params.workshop_repair}/Job</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Project or Item Sale
        <p>项目或物件销售</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>Project / 项目</td>
        <td>Quote after Assessment
        <p>技术评定后报价</td>
      </tr>
      
      <tr>
        <td>Item Sale / 物件销售</td>
        <td>Quote
        <p>报价</td>
      </tr>
    </tbody>   
    <thead>
      <tr>
        <th>Other Charges
        <p>其它收费</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>Service Extension
        <p>加时服务</td>
        <td>30-min block
        <p>30分钟计算</td>
      </tr>
       
      <tr>
       <td>Component Picking Fee
       <p>零件代购费</td>
       <td>35/Trip</td>
      </tr>
      
      <tr>
        <td>Condo Surcharge
          <p>公寓附加费</td>
        <td>10</td>
      </tr>
      
       <tr>
        <td>No-Show Charge
        <p>缺席收费</td>
        <td>40% of Order Amount
         <p>40% 预订数额</td>
      </tr>
      
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Service Scope / 服务范围</h4>
  
     <ul>
        <li>Computer formatting, fault trouble-shooting.</li>
        <p>
        <li>Upgrade of soft & hardwares.</li>
        <p>
        <li>Document backup (local or cloud).</li>
        <p>
        <li>Network trouble-shooting, repair or new installations.</li>
        <p>
        <li>New computer/laptop supply & installation.</li>
        <p>
        <li>从起电脑, 故障检测等。</li>
        <p>
        <li>软，硬件性能升级。</li>
        <p>
        <li>网络，电脑各种维护，维修，安装等。</li>
        <p>
        <li>销售新电脑。</li>
    </ul>
    </p>
    </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Special Notes / 特别说明</h4>
  
     <ul>
        <li>Installation rate excludes components & parts.</li>
        <p>
        <li>Blooms does not guarantee computer issue(s) can be solved on the same day. For complicated works, computers/laptops will need to be brought back to Workshop for further analysis and repairs.</li>
        <p>
        <li>For Workshop repairs/upgrades, A Quotation will be provided within 2 working days. If price is accepted, Client proceeds to book a Workshop Order, and <strong>make payment using Credit Card or TT</strong>.</li>
        <p>
        <li>For some proprietary cases, Blooms will refer Client back to manufacturer.</li>
        <p>
          <li>安装收费不包零件.</li>
          <p>
          <li>家盟公司 (Blooms) 不能确保问题能在同一天解决.</li>
          <p>
          <li>一些特殊问题，家盟公司 (Blooms) 会交回让电脑厂商处理.</li>
    </ul>
    </p>
    </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h4 class="service-title">Customer Care / 客户服务</h4>
   <p>${params.phone}</p>
   <p>${params.email}</p>
</div>
</div>

