---
subtitle: Computer & Network Sale, Repair or Upgrade. TV Boxes to Karaoke Home Systems<br>电脑和网络维修或升级, 数码卫星电视，Karaoke 系统。
layout: service
---
<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
  <th><a class="btn"  href="https://youtu.be/qLKjqCyuFxI">Computer Service Video</a></th>
  <th><a class="btn"  href="https://youtu.be/KJgNfF_BeKg">Karaoke System Video<br>Karaoke 系统介绍视频</a></th>
</tr>
 </table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Items</th>
        <th>Pricing (${currency})</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>On-Site Assessment
          <p>现场测查问题</td>
        <td>${params.assessment}/Job</td>
      </tr>
      
       <tr>
        <td>Software & Hardware Install<br>软和硬件设置 / 提升</td>
        <td>${params.ware_install}/Hr</td>
      </tr>
      
       <tr>
        <td>Network<br>网络设置/安装</td>
        <td>${params.network}/Hr</td>
      </tr>
      
     <tr>
       <td>Workshop Repair<br>回厂维修</td>
        <td>${params.workshop_repair}/Job</td>
      </tr>
      
      <tr>
       <td>Karaoke System Install or Setting<br>视听系统安装与设置</td>
        <td>${params.karaoke}/Job</td>
      </tr>
      
      <thead>
      <tr>
        <th>Project or Product Sales
        <p>项目或产品销售</th>
        <th>Pricing (${currency})</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>Project / 项目</td>
        <td>Quote after Assessment
        <p>技术评定后报价</td>
      </tr>
      
      <tr>
        <td>Computer Products<br>电脑产品</td>
        <td><a class="btn" href="/assets/pdf/Blooms_Computer_Prices.pdf">Download Price List</a></td>
      </tr>
      
      <tr>
        <td>Digital TV Box<br>Include Installation
          <p>数码电视盒<br>包安装</td>
        <td>${params.tv_box}/Set<br><a class="btn" href="/assets/pdf/computer_tv_box.jpg">Download EV Pad<br><b>More freebies inside</b></a></td>
      </tr>
      
       <tr>
        <td>Special Bundle<br>Karaoke System + TV Box<br>Include Installation</td>
        <td>${params.karaoke_tvbox}/Set</td>
      </tr>
            
      <thead>
      <tr>
        <th>Other Charges
        <p>其它收费</th>
        <th>Pricing (${currency})</th>
      </tr>
    </thead>
    <tbody>
     <tr>
        <td>Service Extension<br>加时收费</td>
        <td>MYR15 per 30-min block<br>每 30 分钟块，收费 MYR 15</td>
      </tr>
      
      <tr>
        <td>Condo Surcharge<br>公寓附加费</td>
        <td>10</td>
      </tr>
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Service Scope / 服务范围</h4>
  
     <ul>
        <li>Computer formatting, fault trouble-shooting.</li>
        <p>
        <li>Upgrade of soft & hardwares.</li>
        <p>
        <li>Document backup (local or cloud).</li>
        <p>
        <li>Network trouble-shooting, repair or new installations.</li>
        <p>
        <li>New computer/laptop supply & installation.</li>
        <p>
        <li>从起电脑, 故障检测等。</li>
        <p>
        <li>软，硬件性能升级。</li>
        <p>
        <li>网络，电脑各种维护，维修，安装等。</li>
        <p>
        <li>销售新电脑。</li>
    </ul>
    </p>
    </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Special Notes / 特别说明</h4>
  
     <ul>
        <li>Installation rate excludes components & parts.</li>
        <p>
        <li>Blooms does not guarantee computer issue(s) can be solved on the same day. For complicated works, computers/laptops will need to be brought back to Workshop for further analysis and repairs.</li>
        <p>
        <li>For Workshop repairs/upgrades, A Quotation will be provided within 2 working days. If price is accepted, Client proceeds to book a Workshop Order, and <strong>make payment using Credit Card or TT</strong>.</li>
        <p>
        <li>For some proprietary cases, Blooms will refer Client back to manufacturer.</li>
        <p>
          <li>安装收费不包零件.</li>
          <p>
          <li>家盟公司 (Blooms) 不能确保问题能在同一天解决.</li>
          <p>
          <li>一些特殊问题，家盟公司 (Blooms) 会交回让电脑厂商处理.</li>
    </ul>
    </p>
    </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h4 class="service-title">Customer Care / 客户服务</h4>
   <p>+60 12 771 1186
   <p>+${params.phone}</p>
   <p>${params.email}</p>
   <p>www.blooms.my
</div>
</div>

