---
subtitle: Computer & Network Sale, Repair or Upgrade. TV Boxes to Karaoke Home Systems.
layout: service
---
<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
  <th><a class="btn"  href="https://youtu.be/qLKjqCyuFxI">Computer Service Video</a></th>
  <th><a class="btn"  href="https://youtu.be/KJgNfF_BeKg">Karaoke System Video<br></a></th>
</tr>
 </table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th><b>Items</b></th>
        <th><b>Pricing (${currency})</b></th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>On-Site Assessment</td>
        <td>${params.assessment}/Trip</td>
      </tr>
      
       <tr>
        <td>Software & Hardware Install</td>
        <td>${params.ware_install}/Hr</td>
      </tr>
      
       <tr>
        <td>Network</td>
        <td>${params.network}/Hr</td>
      </tr>
      
     <tr>
       <td>Workshop Repair</td>
        <td>${params.workshop_repair}/Job</td>
      </tr>
      
      <tr>
       <td>Karaoke System Install or Setting</td>
        <td>${params.karaoke}/Job</td>
      </tr>
      
      <thead>
      <tr>
        <th><b>Project or Product Sales</b></th>
        <th><b>Pricing (${currency})</b></th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>Project</td>
        <td>Quote after Assessment</td>
      </tr>
      
      <tr>
        <td>Computer Products</td>
        <td><a class="btn" href="/assets/pdf/Blooms_Computer_Prices.pdf">Download Price List</a></td>
      </tr>
      
      <tr>
        <td>Digital TV Box<br>Include Installation
          <p>数码电视盒<br>包安装</td>
        <td>${params.tv_box}/Set<br><a class="btn" href="/assets/pdf/computer_tv_box.jpg">Download EV Pad<br><b>More freebies inside</b></a></td>
      </tr>
      
       <tr>
        <td>Special Bundle<br>Karaoke System + TV Box<br>Include Installation</td>
        <td>${params.karaoke_tvbox}/Set</td>
      </tr>
            
      <thead>
      <tr>
        <th><b>Other Charges</b></th>
        <th><b>Pricing (${currency})</b></th>
      </tr>
    </thead>
    <tbody>
     <tr>
        <td>Service Extension</td>
        <td>15<br>per 30-min block</td>
      </tr>
      
      <tr>
        <td>Condo Surcharge</td>
        <td>10</td>
      </tr>
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Service Scope</h4>
  
     <ul>
        <li>Computer formatting, fault trouble-shooting.</li>
        <p>
        <li>Upgrade of soft & hardwares.</li>
        <p>
        <li>Document backup (local or cloud).</li>
        <p>
        <li>Network trouble-shooting, repair or new installations.</li>
        <p>
        <li>New computer/laptop supply & installation.</li>
    </ul>
    </p>
    </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Special Notes</h4>
  
     <ul>
        <li>Installation rate excludes components & parts.</li>
        <p>
        <li>Blooms does not guarantee computer issue(s) can be solved on the same day. For complicated works, computers/laptops will need to be brought back to Workshop for further analysis and repairs.</li>
        <p>
        <li>For Workshop repairs/upgrades, A Quotation will be provided within 2 working days. If price is accepted, Client proceeds to book a Workshop Order, and <strong>make payment using Credit Card or TT</strong>.</li>
        <p>
        <li>For some proprietary cases, Blooms will refer Client back to manufacturer.</li>
     </ul>
    </p>
    </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h4 class="service-title">Customer Care</h4>
   <p>+60 12 771 1186
   <p>+${params.phone}</p>
   <p>${params.email}</p>
   <p>www.blooms.my
</div>
</div>

