---
subtitle: Small electrical cabling to project contracting / 大小电工
layout: service
---

<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
 <th><a class="btn"  href="https://youtu.be/SclvbJ_azho">Blooms' 星洲日报采访视频</a></th>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives<br>4个妻子的故事</a></th>
 </tr>
 </table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>Electrical Project
          <p>电工程项目</td>
        <td>Base on Quotation
          <p>根据报价</td>
      </tr>
      
       <tr>
        <td>Site Survey
        <p>实地调查
        <p>Waived upon project confirmation
        <p>项目确定后免除</td>
        <td>30</td>
      </tr>
      
      <tr>
       <td>Emergency Booking<br>紧急预订
       <p>
       <p><b>Scroll below for<br>booking process<br>预订方式，往下看</b></td>
        <td>${params.emergency}<br>Per Trip / 一趟</td>
      </tr>
  
      <tr>
        <td>Condo Surcharge
          <p>公寓附加费</td>
        <td>10</td>
      </tr>
      
       <tr>
        <td>No-Show Charge
        <p>缺席收费</td>
        <td>40% of Order Amount
         <p>40% 预订数额</td>
      </tr>
      
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Service Info / 服务信息</h4>
    <p><b>2-Step Emergency Booking Process / 紧急预订方式:</b>
    
<!--image published direct archived in assets/news-->
<p>
<img style="width:100%" src="/assets/img/news/elec_emergency.jpg">
<p>
<p><strong>Notes / 备注：</strong>
 <ul>
        <li>Price excludes replacement parts.</li>
        <p>
        <li>Blooms does not guarantee electrical issues can be solved on the same day.</li>
        <p>
        <li>For High Tension issue, please contact TNB.</li>
        <p>
        <li>Price range depends on the severity or complexity of the trouble-shooting process.</li>
        <p>
        <li>价格不包括替代件.</li>
        <p>
        <li>家盟公司 (Blooms) 不能确保问题能在同一天解决.</li>
        <p>
        <li>高电压问题，请联系电讯局 TNB.</li>
        <p>
        <li>价格因电源短路复杂性而定.</li>
    </ul>
    </p>
    </div>
</div>

<div class="divider"></div>
<div class="gap">
  <br>
  <p><strong>Electrical Project / 电工项目</strong></br>
  <ul>
    <li>Quotation to be provided 2 to 5 work days after survey date.</li>
    <p>
    <li>For cash & credit card payments, schedule as follows: 35% (deposit), 50% (half work), 15%.(project complete)</li>
      <p>
    <li>Discount code <strong>DOES NOT</strong> apply to Emergency Bookings and Projects.</li>
    <p>
      <li>报价：实地调查后 2 至 5 工作日.</li>
      <p>
      <li>现金或信用卡付账，付款进度为: 35% (首付)，50% (工程完成一半)，15% (项目交接).</li>
        <p>
      <li>折扣代码<strong> 不能 </strong>使用在紧急预订和项目上.</li>
    </ul>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h4 class="service-title">Customer Care / 客户服务</h4>
  <p><strong>Enquiry / 询问电话：</strong>
  <p>${params.phone}</p>
  <p>${params.email}</p>
</div>
</div>
