---
subtitle: Home Security
layout: service
---

<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives</a></th>
 </tr>
 </table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Activities</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>CCTV</td>
          <td>Coming Soon</td>
      </tr>
      
       <tr>
        <td>Auto Gate</td>
        <td>Coming Soon</td>
      </tr>
      
      <tr>
       <td>House Alarm</td>
        <td>Coming Soon</td>
      </tr>
      
       <tr>
       <td>Brochure</td>
        <td>Coming Soon</a></td>
      </tr>
      
      <tr>
       <td>Videos</td>
        <td>Coming Soon</td>
      </tr>
      <tr>
       <td>Photos</td>
        <td>Coming Soon</td>
      </tr>
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h5 class="service-title">Service Info</h5>
    
<body>
<h4 style="text-align:center;">Home Security Workshops</h4>
<table>
  <tr>
    <th><b>130 to 2pm</b></th>
   </tr>
  <tr>
    <td>Registration</td>
    </tr>
  
   <tr>
     <th><b>2 to 230pm</b></th>
  </tr>
  <tr>
    <td>Introduction</td>
   </tr>
  
  <tr>
    <th><b>230 to 315pm</b></th>
   </tr>
  <tr>
    <td>Explanation of Various Home Security Architectures</td>
   </tr>
  
   <tr>
     <th><b>315 to 430pm</b></th>
   </tr>
  <tr>
    <td>Discussion Sessions</td>
   </tr>
  
   <tr>
     <th><b>430 to 5pm</b></th>
   </tr>
  <tr>
    <td>Curated Q & A</td>
    
   <tr>
     <th><b>5 to 7pm</b></th>
   </tr>
  <tr>
    <td>Buffet Dinner</td>
    </tr>
    </tr>
</table>

</body>
</html>

</div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h5 class="service-title">Customer Care</h5>
    <p>60 10 935 2700</p>
    <p>${params.email}</p>
    <p>www.blooms.my</p>
  </div>
</div>
