---
subtitle: Comprehensive House Defect Inspection. Understand the house before purchasing it.<br>
layout: service
---

<div class="gap">  
<h4 class="service-title">INSPECTION SCOPE.</h4>
<br>
<img style="width:100%; border-radius:15px; border:1px solid #fd8f82" src="/assets/img/news/house_diagnosis_brochure.png">
<p>
</div>


<div class="pricing">
  <table>  
   <thead>
      <tr>
        <th><b>Comprehensive<br>Inspection</b></th>
        <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Landed House</td>
        <td>${params.house_diagnosis_landed_house}/Project</td>
        </tr>
      
       <tr>
        <td>Condominium</td>
        <td>${params.house_diagnosis_condo}/Project</td>
        </tr>
      
       <tr>
         <td>Survey<br><br>For large size house<br>Bungalow or Villa<br><b>> 3000ft<sup>2</sup></b></td>
        <td>${params.house_diagnosis_survey}/Job</td>
        </tr>
      
      <tr>
       <td>Inspection Scope</td>
       <td><a class="btn"  href="/assets/img/news/house_diagnosis_brochure.png">Download</a></td>
      </tr>
  </tbody>
  </table>
  <div class="fineprint">
  Prices subject to change without prior notice
</div>
</div>

<div class="divider"></div>
<div class="gap">
<div class="service-info">
  <h5 class="service-title">FAQs</h5>
  <h4 class="service-title">How many days do you need to inspect the whole house?</h4>
  For standard landed house up to 3000ft<sup>2</sup>, within 2 working days. Condominium about 1 day. For larger size house such as bungalow, please book a Survey for us to assess the scope.
  <br>
  <h4 class="service-title">Will there be a House Diagnosis Report?</h4>
  Yes and it comes with photos, measured readings, description of defect areas.
  <p>  
</div>
</div>

<div class="divider"></div>
<div class="gap">
<div class="service-info">
  <h5 class="service-title">Inquiry</h5>
  <p>Wai Kong: 60 11 3934 7848</p>
  <p>Albert: 60 10 661 3344</p>
  <p>${params.email}</p>
  <p>www.blooms.my</p>
</div>
</div>
