---
subtitle: Pre-purchase house defect checks. Engage us to know more of your dream home before you purchase, it's worth it.<br>
layout: service
---
<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
<th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives</a></th>
 </tr>
 </table>
</div>
</div>

<div class="pricing">
  <table>  
   <thead>
      <tr>
        <th>Service Types</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
       <td>Comprehensive<br>Checks<br>Scope
        <ul>
         <div align = "left">
         <li>Waterproofing,
         <li>Water Pressure,
         <li>Electrical Integrity,
         <li>Airconditioning &
         <li>Pests</li>
         </div>
        </ul>
        <td>${params.multi_services}/Job</td>
        </tr>
      
      <tr>
       <td>Asset Pre-Purchase Diagnosis Scope Details</td>
       <td><a class="btn"  href="/assets/pdf/diy.png">Download</a></td>
      </tr>
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
  <h4 class="service-title">Asset Pre-Purchase Execution Framework</h4>
    
<body>
<h4 style="text-align:center;">Schedule</h4>
<table>
  <tr>
    <th><b>Phase 1 - Acceptance of Order</b></th>
   </tr>
  <tr>
    <td>Details Coming Soon</td>
    </tr>
  
   <tr>
     <th><b>Blooms Preparation</b></th>
  </tr>
  <tr>
    <td>Details Coming Soon</td>
   </tr>
  
  <tr>
    <th><b>Diagnosis Execution</b></th>
   </tr>
  <tr>
    <td>Details Coming Soon</td>
   </tr>
  
   <tr>
     <th><b>Asset Integrity Report</b></th>
   </tr>
  <tr>
    <td>Details Coming Soon</td>
   </tr>
</table>
</body>
</html>
</div>
</div>
  
  
<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Customer Care</h4>
    <p>Wai Kong: +60 11 3934 7848
    <p>Annie: +60 10 935 2700</p>
    <p>${params.email}</p>
    <p>www.blooms.my</p>
  </div>
</div>

