---
subtitle: Pre-purchase house defect checks. Engage us to know more of your dream home before you purchase, it's worth it.<br>
layout: service
---

<div class="gap">  
<h4 class="service-title">A house ia a big investment. Engage Blooms to check comprehensively, especially if you're purchasing a pre-owned property.</h4>
<br>
<img style="width:100%; border-radius:15px; border:1px solid #fd8f82" src="/assets/img/news/house_diagnosis_brichure.png">
<p>

<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
<th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives</a></th>
 </tr>
 </table>
</div>
</div>

<div class="pricing">
  <table>  
   <thead>
      <tr>
        <th>Service</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
       <td>Comprehensive Checks
        <ul>
         <div align = "left">
         <li>Waterproofing,
         <li>Water Pressure,
         <li>Electrical Integrity,
         <li>Airconditioning &
         <li>Pests.</li>
         </div>
        </ul>
        <td>${params.multi_services}/Job</td>
        </tr>
      
      <tr>
       <td>Diagnosis Scope</td>
       <td><a class="btn"  href="/assets/pdf/diy.png">Download</a></td>
      </tr>
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
  <h5 class="service-title">FAQs</h5>
  Coming soon.

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h5 class="service-title">Inquiry</h5>
    <p>60 11 3934 7848
    <p>${params.email}
    <p>www.blooms.my
  </div>
</div>

