---
subtitle: Standard / Technical Installation. Any type & number of items at ONE price. / 普通或技术安装。任何物件种类和数量，一个价.
layout: service
---

<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
  <th><a class="btn"  href="/assets/pdf/installation-faq.png">FAQ on Booking<br>预订问题与解答</a></th>
  <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives<br>4个妻子的故事</a></th>
</tr>
 </table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Standard (Std) Installation
        <p>普通安装</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Std 1st Hr Rate
          <p>普通第1小时收费</td>
        <td>${params.std_first}/Hr (小时)</td>
      </tr>
      <tr>
        <td>Std 2nd Hr & more Rate
          <p>普通第2小时或以上收费</td>
        <td>${params.std_second}/Hr (小时)</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Technical (Tech) Installation
        <p>技术安装</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tech 1st Hr Rate
          <p>技术第1小时收费</td>
        <td>${params.tech_first}/Hr (小时)</td>
      </tr>
      <tr>
        <td>Tech 2nd Hr & more Rate
          <p>技术第2小时或以上收费</td>
        <td>${params.tech_second}/Hr (小时)</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Projects / 项目</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Site Survey
        <p>实地调查</td>
        <td>Free / 免</td>
      </tr>
      <tr>
        <td>Installation Project
        <p>安装项目</td>
        <td>Quote after survey
        <p>调查后报价</td>
      </tr>      
    </tbody>
    <thead>
      <tr>
        <th>Other Charges
        <p>其它收费</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Service Extension
        <p>加时服务</td>
        <td>${params.currency}25 per 30-min block
       <p>每30分钟块 - 马币25</td>
      </tr>
      <tr>
        <td>Material Picking Fee (optional)
        <p>代购费 （如需要）</td>
        <td>45/Trip (趟)</td>
      </tr>
      
      <tr>
        <td>Condo Surcharge
          <p>公寓附加费</td>
        <td>10</td>
      </tr>
      
      <tr>
        <td>No-Show Charge
          <p>缺席收费</td>
        <td>40% of Order Amount
        <p>40% 预订数额</td>
      </tr>      
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <h3>Standard Installation / 标准安装</h3>

  <!-- <div class='example'>
    <strong>Example:</strong><br>
    Install a mirror, three wall paintings, 2 battery clocks and one whiteboard - 1hr 20mins
    Charge is RM37.50 X 3 = RM 112.50
  </div> -->

  <h4 class="service-title">Service Info / 服务信息</h4>
  <p>Install home fixtures (< 5kg) on walls/ceilings/floors. Any <strong>Quantity/Types</strong> of items. Service extension will be charged at 30-min blocks.
  <p>
  <p><strong>Standard Installation does not involve <strong>water, electrical, human or structrual safety.</strong> Else, categorized as Technical Installation.</strong>
  <p>
  <p><strong>Minimum 1 Hour</strong> booking.
  <p>  
  <p>在墙面/天花板/地。普通安装，物件重量不能超出5公斤. 安装物种，数量不限。如需加时，便以 30 分钟 "块" 计算。
  <p>
  <p><strong>安装过程不涉及水，电, 人身或屋子结构安全。诺牵涉到，就所属技术安装。</strong>
  <p>
  <p><strong>最短 1 小时</strong>预约。</p>
  
<strong>Examples / 例子:</strong>
<ul>
  <li>Wall Paintings / 壁画.</li>
  <li>Hooks / 挂钩.</li>
  <li>Battery Clocks / 电池钟.</li>
  <li>Clothes Hangers / 衣架.</li>
  <li>Key Holders / 钥匙扣架.</li>
  <li>Bathroom Shelves / 浴室架.</li>
  <li>Toilet Roll Holders / 厕纸吊勾.</li>
  <li>Dismantle or install curtain / 拆或安装窗帘布 (< 3m) etc.</li>
</ul>
</div>
</div>

<div class="divider"></div>
<div class="gap">
  <h3>Technical Installation / 技术安装</h3>

  <!-- <div class='example'>
    <strong>Example:</strong><br>
    Install two wall fans, one water heater and three ceiling lights - 2hr 15 mins.
    Charge is RM42.50 X 5 = RM 212.50
  </div> -->

  <h4 class="service-title">Service Info / 服务信息</h4>
  <p><strong>Installation involving /  安装涉及到:</strong>
  <ul>
    <li>Electricity / 电.</li>
    <li>Water or fluid / 水.</li>
    <li>Direct human safety / 人身安全.</li>
    <li>Structural safety / 结构安全.</li>
    <li>Items at heights / 高处物件 (> 3m).</li>
    <li>Heavy items / 重物件 (> 8kg).</li>
    <li>Glass & Mirror / 玻璃类.</li>
    <li>Assembly tasks / 组装物件.</li>
    <li>Signal, Radio Frequency, Internet, LAN cabling / 网路，讯号电缆等.</li>
  </ul>
  
<strong>Examples / 例子:</strong>
<ul>
  <li>Wall or Ceiling Fans / 风扇.</li>
  <li>Water Heaters / 热水器.</li>
  <li>Lights / 灯饰.</li>
  <li>Door Bells / 门铃.</li>
  <li>High curtain systems / 高窗帘.</li>
  <li>Bulb Change / 换灯泡.</li>
  <li>Replace faulty electrical sockets / 更换电插头等等.</li>
  </ul>
 </div>
<div class="divider"></div>
<div class="gap">
  
  <h3>Material Picking Fee (Optional) / 代购费 (可选择)</h3>
  <p>All installation services exclude price of new part(s).
  <p>
  <p>A Material Picking Fee of <strong>RM45</strong> to be charged, if Client want Blooms to purchase the item <strong>(at market price, with no markup)</strong> on behalf.
  <p>
  <p>安装服务不包括替代件（如灯管，热水器，插头等）。如要家盟 (Blooms) 代购，<strong>公司会另收 RM45 代购费。</strong>
  </p>
  </div>

<div class="divider"></div>
<div class="gap">
  <h3>Customer Care / 客户服务</h3>
  <p>${params.phone}</p>
  <p>${params.email}</p>
</div>
