---
subtitle: Grass Cutting, Shrub Trimming to Garden Design / 修建园丁和花园设计，建造等。
layout: service
---
<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
 <th><a class="btn"  href="https://youtu.be/Sc-Z1N4DjxM">Landscape Service Video<br>园丁修剪视频</a></th>
 <th><a class="btn" href="https://youtu.be/OyAAi2bdcj4">Happy Chinese New Year<br>新年快乐视频</a></th>
 </tr>
 
 <tr>
 <th><a class="btn"  href="https://youtu.be/SclvbJ_azho">Blooms' 星洲日报采访视频</a></th>
 </tr>
 
 </table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Items</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td>Grass Cut 1st Hr Rate / Crew<br>第1小时割草收费 / 人</td>
        <td>${params.first_hr_cutting}/Hr</td>
      </tr>
      
      <tr>
        <td>Grass Cut 2nd Hr or more / Crew<br>第2小时或以上割草收费 / 人</td>
        <td>${params.second_or_more_hr}/Hr</td>
      </tr>
      
      <tr>
        <td>Site Survey<br>项目实地调查</td>
        <td>Free<br>免</td>
      </tr>
      
      <tr>
        <td>Project<br>项目</td>
        <td>Quote after survey<br>调查后报价</td>
      </tr>
      
      <tr>
       <td>Small Debri Disposal Fee<br>小垃圾处理收费<br> Up to 3 bags</td>
        <td>${params.small_debri}/Job</td>
      </tr>
        
      <tr>
       <td>Big Debri Disposal Fee<br>大垃圾处理收费<br>more than 3 bags</td>
        <td>${params.big_debri}/Job</td>
      </tr>
      </tbody>
      <thead>
      <tr>
        <th>Other Charges<br>其它费用</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td>Service Extension<br>加时服务</td>
        <td>${params.currency}20 per 30-min block<br>每30分钟块 - 马币20</td>
      </tr>
      <tr>
       <td>Transport Charges<br>远程交通费
       <p>For Eastern Locations<br>东边地区</td>
       <td>30/Trip (趟)</td>
      </tr>      
      <tr>
        <td>Material Picking Fee<br>代购费</td>
        <td>45/Trip (趟)</td>
      </tr>      
      <tr>
        <td>Sunday & Public Holiday Surcharge<br>周日和假期附加费</td>
        <td>20</td>
      </tr>      
      <tr>
        <td>Condo Surcharge<br>公寓附加费</td>
        <td>10</td>
      </tr>      
      <tr>
        <td>No-Show Charge<br>缺席收费</td>
        <td>50% of Order<br>50% 预订数额</td>
      </tr>      
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>

<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Service Info / 服务信息</h4>
    <p>Trim grass with petrol cutting machine. Blooms crew will pack debris and place outside the house.
    <p>
    <p>Time starts when crew enters the premise, and stops when he leaves it. Minimum booking duration is 1 hour, after which,
      additional charges will be in <b>30-min blocks (i.e. ${params.currency}20 / 30mins)</b>.
    <p>For other landscaping, turfing, tree trimming or felling, fertilizer placements services, our Blooms landscape specialist 
      will visit the site for a survey, then provide a <b>Quotation within 3 working days</b>.
    </p>
 <p>家盟（Blooms）专业技师使用割草机为你的花园割除杂草，之后会清理，将杂草扫进胶袋，放置在屋外。最短预约时间为 1 小时。
 <p>如需加时，则是每30分钟 “块” 计算<b>（30分钟为 ${params.currency}20）</b>。当技师到达你家园地时，服务时间开始。
 <p>其它相关园艺，草坪的维护，树木砍伐，施肥等服务，请预订1趟次实地调查情况，我们将于<b> 3 工作日内提供你服务内容，时限和报价</b>。
 </p>
 </div>
 </div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h4 class="service-title">Transport Charges / 远程交通费</h4>
   <p>
   <p><b>Locations / 地区:</b>
    <ul>
     <li>Permas Jaya</li>
     <li>Masai</li>
     <li>Pasir Gudang</li>
     <li>Setia Indah</li>
     <li>Kulai</li>
     <li>Senai</li>
     <p>
     <li>百万镇</li>
      <li>古来</li>
      <li>市奶等等</li>
    </p>
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Material Picking Fee / 代购费</h4>
    <ul>
      <li>Additonal <strong>${params.currency}45</strong> fee incurred if customer request Blooms crew to purchase any items (fertilisers, soil, seeds, tools, pots etc). This fee guarantees the Client gets the correct materials, and saves him/her the hassle of travelling to-and-fro (in rain or heat) to purchase items he/she might not be familiar with.</li>
      <p>
      <li>代购费为 <strong>${params.currency}45</strong>。家盟 (Blooms) 会代买任何与园艺有关物件，如肥料，农业泥，种子，工具，盆栽等商品。园艺技师会确保不买错东西，因此也为客户节省了不少时间。</li>
    </p>
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Offsite Debri Disposal Fee / 场外园艺垃圾处理费</h4>
    <ul>
      <li>Standard cutting service include sweeping and packing debris, leaving the packages outside the house for collection. It excludes offsite disposal.</li>
      <p>
      <li>If customer requires debri to be taken away from the house, additonal charge (from <strong>${params.currency}35</strong>) will be incurred and it will be based on the quantity.</li>
      <p>
      <li>标准割草服务不包括场外处置杂草/园艺垃圾。</li>
      <p>
      <li>如客户需要把园艺垃圾，带离场，处理收费会以数/重量计算 （从 <strong>${params.currency}35 </strong>起。）</li>
    </ul>
 </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Customer Care / 客户服务</h4>
    <p>${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>
