---
subtitle: Key solutions for HOMES and CARS.<br><br>Emergency unlocking Services to home smart lock upgrade.
layout: service
---

<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives</a></th>
</tr>
 </table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
       <th><b>(A) Home < 20km</b></th>
       <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Room Door Unlock<br>(10am to 6pm)</td>
        <td>${params.unlock_morning}/unit</td>
      </tr>
      <tr>
        <td>Room Door Unlock<br>After 6pm</td>
        <td>${params.unlock_evening}/unit</td>
      </tr>
      <tr>
        <td>Metal Door Unlock</td>
        <td>From ${params.unlock_metal}</td>
      </tr>
      <tr>
        <td>Other Lock Work Survey</td>
        <td>Free</td>
      </tr>
      <tr>
        <td>Non-Standard Lock Repair</td>
        <td>Per Quotation</td>
      </tr>
      <tr>
        <td>Condo Surcharge</td>
        <td>Waived</td>
      </tr>
    </tbody>
    <thead>
      <tr>
       <th><b>(B) Car Key Copy</b></th>
       <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Audi, Honda, Kia, Lexus,<br>Mazda, Mitsubishi,<br>Nissan, Suzuki, Toyota.
        <td>From ${params.premium_car_key_copy}/pc</td>
      </tr>
       <tr>
        <td>Proton or Perodua
        <td>From ${params.national_car_key_copy}/pc</td>
       </tr>
        <tr>
        <td>Other Car Makes
        <td>Call to enquire</td>
      </tr>
    </tbody>
    <thead>
      <tr>
       <th><b>(C) Digital Lock</b></th>
       <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>EZope Smart Lock Installation</td>
        <td>${params.digital_lock}/Unit<br><a class="btn" href="https://youtu.be/QHub69M5PJQ">Download brochure<br><b>EZope Smart Lock</b></a></td>
      </tr>
      <tr>
       <td>Projects</td>
        <td>Per Quotation</td>
      </tr>
      </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <h4 class="service-title">Service Info</h4>
  
 <ul>
   <li>For emergency unlock service, please call or whatsapp <b>60 10 883 0800.</b></li>
   <p>
   <li>All service prices exclude lock replacements.</li>
   <p>
   <li>Blooms also provide lock upgrade services. Lock samples are available for viewing at our office or display shop.</li>
  </ul>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Customer Care</h4>
    <p>${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>
