---
subtitle: Key solutions for home and cars / 家和车门开锁，复制与安装
layout: service
---

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>(A) Home / 家 < 20km</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Room door unlock / 房门开锁<br>(10am to 9pm)</td>
        <td>${params.unlock_morning} / unit</td>
      </tr>
      <tr>
        <td>Room door unlock / 房门开锁 <br>(after 9pm / 晚上9点后)</td>
        <td>${params.unlock_evening} / unit</td>
      </tr>
      <tr>
        <td>
          <p>Metal door unlock / 铁门开锁
          </p>
        </td>
        <td>${params.unlock_metal}+</td>
      </tr>
      <tr>
        <td>Other lock work survey
            <p>其他装，拆，开锁工调查</td>
        <td>Free
        <p>免</td>
      </tr>
      <tr>
        <td>Misc lock repair
            <p>锁维修</td>
        <td>Quote after survey
        <p>调查后报价</td>
      </tr>
      <tr>
        <td>Condo Surcharge
          <p>公寓附加费</td>
        <td>Free
        <p>免</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>(B) Car Key Copy / 车锁复制</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Audi, Honda, Kia, Lexus, Mazda, 
        <p>Mitsubishi, Nissan, Suzuki, Toyota
        <td>${params.premium_car_key_copy}+ / pc</td>
      </tr>
       <tr>
        <td>Proton or Perodua
        <td>${params.national_car_key_copy}+ / pc</td>
       </tr>
        <tr>
        <td>Other Car Makes
        <td>Call to enquire</td>
      </tr>
    </tbody>
    <thead>
      <tr>
      <th>(C) Digital Lock / 数码科技锁</th>
      <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Office or Room Door
        <td>${params.digital_lock}+
          <p>Exclude Installation</td>
      </tr>
       <tr>
        <td>Project
        <td>Quote after survey</td>
      </tr>
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <h4 class="service-title">Service Info</h4>
  <p>For emergency unlock service, please call or whatsapp <strong>+60 10 883 0800 or +60 10 935 2700.</strong>
  <p>紧急，请致电 <strong>+60 10 883 0800 或 +60 10 935 2700。</strong>
  </p>
  <p>All service prices exclude lock replacements.
  <p>价格不包括新锁。
  </p>
  <p>Blooms also provide lock upgrade services. Lock samples are available for viewing at our office or display shop.
  </p>
  <p>家盟(Blooms) 也提供新锁安装服务。有样品选项。</p>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Customer Care / 客户服务</h4>
    <p>${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>
