---
subtitle: Key solutions for home and cars<br>家和车门开锁，复制与安装
layout: service
---
<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
 <th><a class="btn"  href="https://youtu.be/Sc-Z1N4DjxM">On-Site Car Key Duplication<br>上门复制车锁匙视频</a></th>
 <th><a class="btn" href="https://youtu.be/OyAAi2bdcj4">Happy Chinese New Year<br>新年快乐视频</a></th>
</tr>
 
<tr>
 <th><a class="btn"  href="https://youtu.be/SclvbJ_azho">Blooms' 星洲日报采访视频</a></th>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives<br>4个妻子的故事</a></th>
</tr>
 
 </table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>(A) Home / 家 < 20km</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Room Door Unlock<br>房门开锁<br>(10am to 6pm)</td>
        <td>${params.unlock_morning} / unit</td>
      </tr>
      <tr>
        <td>Room Door Unlock<br>房门开锁 <br>(After 6pm / 晚上6点后)</td>
        <td>${params.unlock_evening} / unit</td>
      </tr>
      <tr>
        <td>Metal Door Unlock<br>铁门开锁</td>
        <td>From ${params.unlock_metal}</td>
      </tr>
      <tr>
        <td>Other Lock Work Survey<br>其他装，拆，开锁工调查</td>
        <td>Free<br>免</td>
      </tr>
      <tr>
        <td>Non-Standard Lock Repair<br>非标准锁维修</td>
        <td>Quote after survey<br>调查后报价</td>
      </tr>
      <tr>
        <td>Condo Surcharge<br>公寓附加费</td>
        <td>Free<br>免</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>(B) Car Key Copy / 车锁复制</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Audi, Honda, Kia, Lexus,<br>Mazda, Mitsubishi,<br>Nissan, Suzuki, Toyota.
        <td>From ${params.premium_car_key_copy}/pc</td>
      </tr>
       <tr>
        <td>Proton or Perodua
        <td>From ${params.national_car_key_copy}/pc</td>
       </tr>
        <tr>
        <td>Other Car Makes<br>其它品牌
        <td>Call to enquire<br>致电询问</td>
      </tr>
    </tbody>
    <thead>
      <tr>
      <th>(C) Digital Lock / 数码科技锁</th>
      <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>EZope Smart Lock Installation<br>EZope 智能锁安装</td>
        <td>${params.digital_lock}/Unit<br><a class="btn" href="https://youtu.be/QHub69M5PJQ">Download brochure<br><b>EZope Smart Lock</b></a></td>
      </tr>
      <tr>
        <td>Projects<br>项目
        <td>Quotation<br>报价</td>
      </tr>
      </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <h4 class="service-title">Service Info / 服务信息</h4>
  
 <ul>
   <li>For emergency unlock service, please call or whatsapp <b>+60 10 883 0800.</b></li>
   <p>
   <li>All service prices exclude lock replacements.</li>
     <p>
   <li>Blooms also provide lock upgrade services. Lock samples are available for viewing at our office or display shop.</li>
       <p>
         <li>紧急，请致电 <b>+60 10 883 0800。</b></li>
         <p>
         <li>价格不包括新锁。</li>
           <p>
         <li>家盟(Blooms) 也提供新锁安装服务。有样品选项。</li>
  </ul>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Customer Care / 客户服务</h4>
    <p>${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>
