---
subtitle: Any property repairs or renovations, involving multiple Services.<br>任何物业维修或装修。涉及多种服务种类。
layout: service
---
<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives<br>4个妻子的故事</a></th>
 <th><a class="btn" href="https://youtu.be/o_b5_PtPV8A">Our Many Services<br>我们提供许多服务</a></th>

 </tr>
 </table>
</div>
</div>

<div class="pricing">
  <table>  
   <thead>
      <tr>
        <th>Service Types</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Retrofit or Renovation Survey<td>${params.others_survey}/Job<br>Quotation within<br>3-5 Working Days</td>
      </tr>
      <tr>
        <td>Project Order<td>As Per Quotation/Job</td>
      </tr>
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

  
<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Customer Care</h4>
    <p>Wai Kong: +60 11 3934 7848
    <p>Annie: +60 10 935 2700</p>
    <p>${params.email}</p>
    <p>www.blooms.my</p>
  </div>
</div>
