---
subtitle: House Painting, Partition Wall & Ceiling
layout: service
---
<!--image published direct archived in assets/news-->
<div class="gap">  
<h4 class="service-title">NOW YOU CAN PAINT YOUR HOME WITH ANY BUDGET</h4>
<p>
<img style="width:100%" src="/assets/img/news/paint_std_rm.png">
<p>

<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives</a></th>
 <th><a class="btn" href="https://youtu.be/o_b5_PtPV8A">Blooms Home Services<br>Click to view</a></th>
</tr>
 
</table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
       <th><b>Skilled Labour</b><br>Customers provide paint</th>
      <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Labour Rate/Crew<br>1st Hour</td>
        <td>${params.first_hr_labour}/Hr</td>
      </tr>
      <tr>
       <td>Labour Rate/Crew<br>@nd Hour or more</td>
       <td>${params.second_hr_more_labour}/Hr</td>
      </tr>
    </tbody>
   
    <thead>
      <tr>
       <th><b>Paint Projects</b><br>Skill + All Materials</th>
        <th>Pricing (${params.currency})</th>
       </tr>
    </thead>
    <tbody>
     
      <tr>
       <td>House Survey</td>
       <td>Free</td>
      </tr>
     
       <tr>
       <td>Paint Project</td>
       <td>Per Quotation</td>
      </tr>
     
     <thead>
      <tr>
       <th><br>Other Charges
       <p>
       </th>
       <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
     
    <tbody>
      <tr>
        <td>Service Extension</td>
        <td>20<br>per 30-min block</td>
      </tr>

      <tr>
        <td>Material Picking Fee<br><br>Buy materials or<br>paint for customers</td>
        <td>45/Trip</td>
      </tr>
      
      <tr>
        <td>Condo Surcharge</td>
        <td>10</td>
      </tr> 
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>

<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Service Info</h4>
    <p>Home painting, interior and exterior. Our Blooms technician will understand your demands and advise on paint selection. Blooms have no limit on painting scope.</p>
    <p><strong>Scope Examples / 例子:</strong>
    <ul>
      <li>Small stain on partial wall or all house interiors, entire house etc.</li>
      <li>Door.</li>
      <li>Metal grille, gate etc.</li>
      </ul>
    <p>Blooms will provide a competitve Quotation within 3 working days. Upon confirmation of Job, <b>SURVEY fee will be deducted from the Quotation amount.</b>
</div>
</div>

<div class="divider"></div>
<div class="gap">
  <h4 class="service-title">Material Picking Fee (Optional)</h4>
  <p>
  <p>Painting rate excludes paint costs. If Blooms is to buy paint for the customer, we will charge market rate for them. 
   In such case, Blooms will add ${params.currency}45/trip picking fee.</p>
</div>
</div>
  
<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Customer Care</h4>
    <p>${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>

