---
subtitle: House Painting, Partition Wall & Ceiling<br>住家粉刷，隔板和天花板
layout: service
---
<!--image published direct archived in assets/news-->
<div class="gap">  
<h4 class="service-title">NOW YOU CAN PAINT YOUR HOME WITH ANY BUDGET</h4>
<p><b>Book us by hour or FREE house survey for projects.</b>
<p>
<img style="width:100%" src="/assets/img/news/paint_std_rm.png">
<p>

<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
 <th><a class="btn" href="https://youtu.be/OyAAi2bdcj4">Happy Chinese New Year<br>新年快乐视频</a></th>
 <th><a class="btn"  href="https://youtu.be/o_b5_PtPV8A">Blooms Home Services<br>Click to view</a></th>
</tr>
 
<tr>
 <th><a class="btn"  href="https://youtu.be/SclvbJ_azho">Blooms' 星洲日报采访视频</a></th>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives<br>4个妻子的故事</a></th>
</tr>
 
 </table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
      <th>Painting Labour<br>Customer to provide paint
       <p>
       <p>油漆工<br>客户提供油漆料</th>
      <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>1st Hour Labour Rate / Crew
          <p>第1小时1人工收费</td>
        <td>${params.first_hr_labour}/Hr (小时)</td>
      </tr>
      <tr>
        <td>2nd Hour or more Labour Rate / Crew
          <p>2小时或以上1人工收费</td>
        <td>${params.second_hr_more_labour}/Hr (小时)</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Paint & Partition Projects<br>Labour + Material
        <p>
        <p>油漆和隔板项目<br>人工 + 材料</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>House Survey （调查）</td>
        <td>Free / 免</td>
      </tr>      
      <tr>
        <td>Project<br>项目</td>
        <td>Quote after site survey<br>调查后报价</td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>Other Charges<br>其它收费</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Service Extension<br>加时服务</td>
        <td>${params.currency}22.5 per 30-min block<br>每30分钟块 - 马币22.5</td>
      </tr>

      <tr>
        <td>Material Picking Fee<br>代购费</td>
        <td>45/Trip</td>
      </tr>
      
      <tr>
        <td>Public Holiday Rates<br>假日收费</td>
        <td>Standard Rate X 2<br>标准收费 X 2</td>
      </tr>
      
      <tr>
        <td>Condo Surcharge<br>公寓附加费</td>
        <td>10</td>
      </tr>      
       <tr>
       <td>No-Show Charge<br>缺席收费</td>
        <td>40% of Order Amount<br>40% 预订数额</td>
      </tr>      
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>

<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Service Info / 服务信息</h4>
    <p>Home painting, interior and exterior. Our Blooms technician will understand your demands and advise on paint selection. Blooms have no limit on painting scope.
    <p>内外油漆粉刷. 我司技师会了解您的需求后, 推荐方案. 承接大小油漆工程.
    </p>
    <p><strong>Scope Examples / 例子:</strong>
    <ul>
      <li>Small stain on partial wall or all house interiors, entire house etc.</li>
      <li>Door.</li>
      <li>Metal grille, gate etc.</li>
      <p>
        <li>小污渍，墙面，室内到户外。</li>
        <li>门。</li>
        <li>铁窗，外门，栏杆等。</li>
    </ul>
    <p>Blooms will provide a competitve Quotation within 3 working days. Upon confirmation of Job, <strong>SURVEY FEE will be deducted from the Quotation amount.</strong>
    <p>
    <p>我司会在3工作日内给予报价。如工作确认，<strong>将免收调查费</strong>.
    </p> 
    </div>
</div>

<div class="divider"></div>
<div class="gap">
  <h4 class="service-title">Material Picking Fee / 代购收费</h4>
  <p>
  <p>Painting rate excludes paint costs. If Blooms is to buy paint for the customer, we will charge market rate for them. 
    In such case, Blooms will add ${params.currency}45/trip picking fee.
  <p>
  <p>人工价格不包含漆。如客户需要家盟 (Blooms) 公司代购，需另加RM45。
  </p>
</div>
</div>
  
<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Customer Care / 客户服务</h4>
    <p>${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>

