---
subtitle: Pet Care at your home.
layout: service
---

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Pet Category<br>Small Breed</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><b>Shower Dog</b>
          <p>
          <p>Short Hair: Book 1Hr<br>Long Hair: Book 1.5Hrs</td>
        <td>XX/Hr (小时)</td>
      </tr>
      
       <tr>
          <td><b>Basic Dog</b><br>Bath. Ear Clean. Nail Clip.
          <p>
          <p>Short Hair: Book 1Hr<br>Long Hair: Book 1.5Hrs</td>
        <td>XX/Hr (小时)</td>
      </tr>
      
      <tr>
        <td>Pet Walking</td>
        <td>Coming Soon</td>
      </tr>
      
      <tr>
        <td>Condo Surcharge
          <p>公寓附加费</td>
        <td>10</td>
      </tr>
      
       <tr>
        <td>No-Show Charge
        <p>缺席收费</td>
        <td>40% of Order Amount
         <p>40% 预订数额</td>
      </tr>
      
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Service Info / 服务信息</h4>
  <br>
  <p><b>Shower Dog Scope</b><br>Bath. Ear Clean. Nail Clip.</br>
  <p>
  <p><b>Basic Dog Scope</b><br>Bath. Ear Clean. Nail Clip. Shave Paw Pad Fur. Shave Belly. Anal Cleanse.</br>
     
  Please Contact Customer Service.
  
<p><strong>(B) Pet Taxi</strong></br>
 Please Contact Customer Service
</div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h4 class="service-title">Customer Care / 客户服务</h4>
  <p><strong>Enquiry / 询问电话 :</strong> </p>
  <p>${params.phone}</p>
  <p>${params.email}</p>
</div>
</div>
