---
subtitle: Pet Care at your home.
layout: service
---

<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
 <th><a class="btn"  href="https://youtu.be/SclvbJ_azho">Blooms' 星洲日报采访视频</a></th>
 <th><a class="btn"  href="https://youtu.be/OyAAi2bdcj4">CNY Video<br>新年视频</a></th>
 </tr>
 </table>
</div>
</div>

<div class="pricing">
<table>
    <thead>
      <tr>
      <th><b>Shower DOG</b><br>Service Scope Below</th>
      <th><b>Pricing (${params.currency})<br>${params.shower_dog}/Hr (小时)</b></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>Small Breed<br><b>Book 1Hr / Pet</b></td>
            <td>60/Pet (只)</td> 
        </tr>
        <tr>
            <td>Medium<br><b>Book 1.25Hrs / Pet</b></td>
            <td>75/Pet (只)</td> 
        </tr>
        <tr>
            <td>Large<br><b>Book 2.0Hrs / Pet</b></td>
            <td>120/Pet (只)</td> 
        </tr>
        <tr>
            <td>Giant<br><b>Book 2.5Hrs / Pet</b></td>
            <td>150/Pet (只)</td> 
        </tr>
        
   <thead>
      <tr>
      <th><b>Basic DOG</b><br>Service Scope Below</th>
      <th><b>Pricing (${params.currency})<br>${params.basic_dog}/Hr (小时)</b></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>Small Breed<br><b>Book 1.0Hr / Pet</b></td>
            <td>90/Pet (只)</td> 
        </tr>
        <tr>
            <td>Medium<br><b>Book 1.5Hrs / Pet</b></td>
            <td>135/Pet (只)</td> 
        </tr>
        <tr>
            <td>Large<br><b>Book 1.75Hrs / Pet</b></td>
            <td>157.50/Pet (只)</td> 
        </tr>
        <tr>
            <td>Giant<br><b>Book 2.5Hrs / Pet</b></td>
            <td>225/Pet (只)</td> 
        </tr>
          
   <thead>
      <tr>
      <th><b>Full DOG</b><br>Service Scope Below</th>
      <th><b>Pricing (${params.currency})<br>${params.full_dog}/Hr (小时)</b></th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>Small Breed<br><b>Book 2.0Hrs / Pet</b></td>
            <td>160/Pet (只)</td> 
        </tr>
        <tr>
            <td>Medium<br><b>Book 2.25Hrs / Pet</b></td>
            <td>180/Pet (只)</td> 
        </tr>
        <tr>
            <td>Large<br><b>Book 2.75Hrs / Pet</b></td>
            <td>220/Pet (只)</td> 
        </tr>
        <tr>
            <td>Giant<br><b>Book 3.0Hrs / Pet</b></td>
            <td>240/Pet (只)</td> 
        </tr>      
  
        
 <thead>
     <tr>
     <th><b>Basic CAT</b><br>Service Scope Below</th>
     <th><b>Pricing (${params.currency})<br>${params.basic_cat}/Hr (小时)</b></th>
     </tr>
     </thead>
     <tbody>
     <tr>
         <td>KITTEN<br>(at least 2 months old)<br><b>Book 1.0Hr / Pet</b></td>
         <td>60/Pet (只)</td>
     </tr>
     <tr>
         <td>Small CAT<br><b>Book 1.5Hrs / Pet</b></td>
         <td>90/Pet (只)</td>
     </tr>
     <tr>
         <td>Big CAT<br><b>Book 2.0Hrs / Pet</b></td>
         <td>120/Pet (只)</td>
     </tr>
    
  <thead>
     <tr>
     <th><b>Lion Cut CAT</b><br>Service Scope Below</th>
     <th><b>Pricing (${params.currency})<br>${params.lioncut_cat}/Hr</b></th>
     </tr>
     </thead>
     <tbody>
     <tr>
         <td>Small CAT<br><b>Book 2.0Hrs / Pet</b></td>
         <td>150/Pet (只)</td>
     </tr>
     <tr>
         <td>Big CAT<br><b>Book 3.0Hrs / Pet</b></td>
         <td>225/Pet (只)</td>
     </tr>
  
   <thead>
     <tr>
     <th><b>De-flea + Basic CAT</b><br>Service Scope Below</th>
     <th><b>Pricing (${params.currency})<br>${params.deflea_cat}/Hr</b></th>
     </tr>
     </thead>
     <tbody>
     <tr>
         <td>KITTEN<br>(at least 2 months old)<br><b>Book 1.0Hr / Pet</b></td>
         <td>80/Pet (只)</td>
     </tr>
     <tr>
         <td>Small CAT<br><b>Book 1.25Hrs / Pet</b></td>
         <td>100/Pet (只)</td>
     </tr> 
     <tr>
         <td>Big CAT<br><b>Book 1.5Hrs / Pet</b></td>
         <td>120/Pet (只)</td>
     </tr> 
 
<thead>
      <tr>
      <th><b>Other Charges</b></th>
      <th><b>Pricing (${params.currency})</b></th>
      </tr>
     </thead>
     <tbody>
     <tr>
     <td>Condo Surcharge<br>公寓附加费</td>
     <td>10</td>
     </tr>
      
     <tr>
     <td>No-Show Charge<br>缺席收费</td>
     <td>40% of Order<br>40% 预订数额</td>
     </tr>
  </tbody>
  </table>

  <div class="fineprint">
  Prices subject to change without prior notice.
  </div>
  </div>

<div class="divider"></div>
<div class="gap">  
<div class="service-info">
<h4 class="service-title">Pet Size Info / 宠物类别信息</h4>
</div>
</div>

<style> 
* {
  box-sizing: border-box;
}

.column {
  float: right;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
<p><b>DOG - Small Breed</b><br>Examples: Japanese Chin, Pomeranian, Chihuahua etc.
<body>
<div class="row">
  <div class="column">
   <img style="width:50%" src='/assets/img/news/sb_japanese_chin.jpg'/>
  </div>
  <div class="column">
   <img style="width:50%" src='/assets/img/news/sb_pomeranian.jpg'/>
  </div>
</div>
</body>

<p><b>DOG - Medium Breed</b><br>Examples: Australian Sheppard, Poodle, Basset Hound etc.
<style> 
* {
  box-sizing: border-box;
}

.column {
  float: right;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
   
<body>
<div class="row">
  <div class="column">
   <img style="width:50%" src='/assets/img/news/mb_australain_sheppard.jpg'/>
  </div>
  <div class="column">
   <img src='/assets/img/news/mb_poddle.jpg'/ style="width:50% ">
  </div>
</div>
</body>
<p>

 <p><b>DOG - Large Breed</b><br>Examples: Boxer, Bloodhound, Japanese Chin, Chow-Chow etc.
<style> 
* {
  box-sizing: border-box;
}

.column {
  float: right;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
   
<body>
<div class="row">
  <div class="column">
   <img style="width:50%" src='/assets/img/news/lb_boxer.jpg'/>
  </div>
  <div class="column">
   <img src='/assets/img/news/lb_bloodhound.jpg'/ style="width:50% ">
  </div>
</div>
</body>
<p>

<p><b>DOG - Giant Breed (GB)</b><br>Examples: Tibetan Mastiff, Golden Retriever, Doberman Pinscher etc.
 <style> 
* {
  box-sizing: border-box;
}

.column {
  float: right;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
   
<body>
<div class="row">
  <div class="column">
   <img style="width:50%" src='/assets/img/news/gb_tibetan_mastiff.jpg'/>
  </div>
  <div class="column">
   <img src='/assets/img/news/gb_golden_retriever.jpg'/ style="width:50%">
  </div>
</div>
</body>

<div class="divider"></div>
<div class="gap">
<div class="service-info">
<h4 class="service-title">Service Info / 服务信息</h4>
  <p>
  <p><b>Shower Dog Scope</b><br>Bath. Ear Clean. Nail Clip.</br>
  <p>
  <p><b>Basic Dog Scope</b><br>Bath. Ear Clean. Nail Clip. Shave Paw Pad Fur. Shave Belly. Anal Cleanse.</br>
  <p>
  <p><b>Full Dog Scope</b><br>Basic Dog Services + Cut Style.
</div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h4 class="service-title">Customer Care / 客户服务</h4>
  <p><strong>Enquiry / 询问电话 :</strong> </p>
  <p>+${params.phone} or +60 16 514 3652</p>
  <p>${params.email}</p>
</div>
</div>
