---
subtitle: Pet Care at your home.
layout: service
---

<div class="pricing">
  <table>
    <thead>
      <tr>
      <th><b>Shower DOG</b><br>Refer Service Scope Below</th>
      <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Small Breed (SB)<br><b>Book 1.0 Hr</b>
          <p>
          <p>Medium Breed (MB)<br><b>Book 1.25 Hrs<br>(1Hr 15mins)</b>
          <p>
          <p>Large Breed (LB)<br><b>Book 2.0 Hrs</b>
          <p>
          <p>Giant Breed (GB)<br><b>Book 2.5 Hrs</b>
          <td>${params.shower_dog}/Hr (小时)</td>
      </tr>
      
   <thead>
      <tr>
      <th><b>Basic DOG)</b></th>
      <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><b>Shower DOG</b><br>Refer Below for Service Scope</br>
          <p>
          <p>Short Hair: Book 1.5Hr<br>Long Hair: Book 2Hrs</td>
        <td>${params.basic_dog}/Hr (小时)</td>
      </tr>
      
       <tr>
          <td><b>Basic DOG</b>
          <p>
          <p>Short Hair: Book 1Hr<br>Long Hair: Book 1.5Hrs</td>
        <td>XX/Hr (小时)</td>
      </tr>
  
      <tr>
      <td><b>Full DOG</b>
      <p>
      <p>Short Hair: Book 1Hr<br>Long Hair: Book 1.5Hrs</td>
      <td>XX/Hr (小时)</td>
      </tr>

     <thead>
      <tr>
      <th><b>DOG - Large Breed (LB)</b></th>
      <th><b>Pricing (${params.currency})</b></th>
      </tr>
      </thead>
      <tbody>
        <tr>
        <td><b>Shower DOG</b><br>Refer Below for Service Scope</br>
        <p>
        <p>Short Hair: Book 2Hr<br>Long Hair: Book 2.5Hrs</td>
        <td>XX/Hr (小时)</td>
      </tr>
      
       <tr>
       <td><b>Basic DOG</b>
       <p>
       <p>Short Hair: Book 2Hr<br>Long Hair: Book 2.5Hrs</td>
        <td>XX/Hr (小时)</td>
        </tr>
  
      <tr>
      <td><b>Full DOG</b>
      <p>
      <p>Short Hair: Book 2Hr<br>Long Hair: Book 2.5Hrs</td>
       <td>XX/Hr (小时)</td>
       </tr>
        
      <thead>
      <tr>
      <th><b>DOG - Giant Breed (GB)</b></th>
      <th><b>Pricing (${params.currency})</b></th>
      </tr>
     </thead>
     <tbody>
     <tr>
     <td><b>Shower DOG</b><br>Refer Below for Service Scope</br>
       <p>
       <p>Short Hair: Book 2.5Hr<br>Long Hair: Book 3Hrs</td>
       <td>XX/Hr (小时)</td>
       </tr>
      
       <tr>
       <td><b>Basic DOG</b>
       <p>
       <p>Short Hair: Book 1Hr<br>Long Hair: Book 1.5Hrs</td>
       <td>XX/Hr (小时)</td>
       </tr>
  
      <tr>
      <td><b>Full DOG</b>
      <p>
      <p>Short Hair: Book 1Hr<br>Long Hair: Book 1.5Hrs</td>
      <td>XX/Hr (小时)</td>
      </tr>

<thead>
     <tr>
     <th><b>Basic CAT<br>Refer Below for Service Scope</b></th>
     <th><b>Pricing (${params.currency})</b></th>
     </tr>
     </thead>
     <tbody>
     <tr>
     <td><b>KITTEN (>2 months old)</b>
     <p>
     <p>Short Hair: Book 1Hr<br>Long Hair: Book 1.5Hrs</td>
     <td>XX/Hr (小时)</td>
     </tr>
    
    <tr>
    <td><b>Small CAT</b>
    <p>
    <p>Short Hair: Book 1.5Hrs<br>Long Hair: Book 1.5Hrs</td>
    <td>XX/Hr (小时)</td>
    </tr>

    <tr>
    <td><b>Medium CAT</b>
    <p>
    <p>Short Hair: Book 1.5Hrs<br>Long Hair: Book 1.5Hrs</td>
    <td>XX/Hr (小时)</td>
    </tr>
       
    <tr>
    <td><b>Big CAT</b>
    <p>
    <p>Short Hair: Book 2Hrs<br>Long Hair: Book 2.5Hrs</td>
    <td>XX/Hr (小时)</td>
    </tr>

<thead>
     <tr>
     <th><b>CAT - Other Services<br>Refer Service Scope Below</b></th>
     <th><b>Pricing (${params.currency})</b></th>
     </tr>
     </thead>
     <tbody>
     <tr>
     <td><b>Lion Cut</b><br>Book 1Hr</td>
     <td>XX/Hr (小时)</td>
     </tr>
    
    <tr>
    <td><b>De-flea</b><br>Book 1.5Hrs</td>
    <td>XX/Hr (小时)</td>
     </tr>
 
      <thead>
      <tr>
      <th><b>Other Charges</b></th>
      <th><b>Pricing (${params.currency})</b></th>
      </tr>
     </thead>
     <tbody>
     <tr>
     <td>Condo Surcharge
     <p>公寓附加费</td>
     <td>10</td>
     </tr>
      
     <tr>
     <td>No-Show Charge
     <p>缺席收费</td>
     <td>40% of Order Amount
     <p>40% 预订数额</td>
      </tr>
      
    </tbody>
  </table>
  <div class="fineprint">
  Prices subject to change without prior notice
  </div>
  </div>

<div class="divider"></div>
<div class="gap">
<div class="service-info">
<h4 class="service-title">Pet Size Info / 宠物类别信息</h4>
  <p>
  <p><b>DOG - Small Breed (SB)</b><br>Examples:
  <p>
  <p><b>DOG - Medium Breed (MB)</b><br>Examples:
  <p>
  <p><b>DOG - Large Breed (LB)</b><br>Examples.
  <p>
  <p><b>DOG - Giant Breed (GB)</b><br>Examples.
</div>
</div>

<div class="divider"></div>
<div class="gap">
<div class="service-info">
<h4 class="service-title">Service Info / 服务信息</h4>
  <p>
  <p><b>Shower Dog Scope</b><br>Bath. Ear Clean. Nail Clip.</br>
  <p>
  <p><b>Basic Dog Scope</b><br>Bath. Ear Clean. Nail Clip. Shave Paw Pad Fur. Shave Belly. Anal Cleanse.</br>
  <p>
  <p><b>Full Dog Scope</b><br>Basic Dog Services + Cut Style.
</div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h4 class="service-title">Customer Care / 客户服务</h4>
  <p><strong>Enquiry / 询问电话 :</strong> </p>
  <p>${params.phone}</p>
  <p>${params.email}</p>
</div>
</div>
