---
subtitle: Plumbing, Water Tank Wash/Repair & Projects
layout: service
---
<!--image published direct archived in assets/news-->
<div class="gap">  
<h4 class="service-title">PROMOTION<br>Stainless Steel Sink POPPY @ only MYR30/Set.</h4>
<p><b>Book 1 Hour (MYR 80) Plumbing Service, able to install up to 3 sets of sink poppies.</b>
<p>
<img style="width:100%; border-radius:15px; border:1px solid #fd8f82" src="/assets/img/news/sink-poppy.jpg">
<p>

<!--button section--> 
<div class="pricing">
<table style="width:100%">
<tr>
  <th><a class="btn"  href="/assets/pdf/sink-poppy.jpg">New product - Sink Poppy</a></th>
  <th><a class="btn"  href="https://youtu.be/tx0ZWZLjrcs">Sink Poppy in action video</a></th>
<tr>
  <th><a class="btn"  href="/assets/pdf/plumbing-faq.png">Booking FAQ</a></th>
  <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives</a></th>
  </tr>
 </table>
</div>
</div>
<p>
<p>
  
<!--Start of Price Table-->
<div class="divider"></div>
<p>
<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>(A) Standard Plumbing</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1st Hour</td>
        <td>${params.first_hour}/Hr</td>
      </tr>
      <tr>
        <td>2nd Hour or more<br>(standard rate)</td>
        <td>${params.second_hour}/Hr</td>
      </tr>
      
       <tr>
         <td>Non-Standard<br>Plumbing Survey<br><br><b>Waive upon<br>project confirmation</b></td>
        <td>${params.survey}/Trip</td>
      </tr>

      <tr>
       <td>Non-Standard<br>Plumbing Project</td>
        <td>Per Quotation</td>
        </tr>
    </tbody>

    <thead>
      <tr>
        <th>(B) Water Tank</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
         <td>Tank Issue Survey<br><br><b>Waive upon<br>project confirmation</b></td>
        <td>${params.survey}/Trip</td>
      </tr>
      
      <tr>
        <td>Tank Wash<br>1st Hour</td>
        <td>${params.tank_wash_first_hour}/Hr</span></td>
      </tr>
      <tr>
        <td>Tank Wash<br>2nd Hour or more<br>(standard rate)</td>
        <td>${params.tank_wash_second_hour}/Hr</td>
      </tr>

      <tr>
        <td>Tank Repair<br>1st Hour</td>
        <td>${params.tank_repair_first_hour}/Hr</td>
      </tr>

      <tr>
      <td>Tank Repair<br>2nd Hour or more<br>(standard rate)</td>
        <td>${params.tank_repair_second_hour}/Hr</td>
      </tr>
      
      <tr>
       <td>Tank Project</td>
        <td>Per Quotation</td>
        </tr>
   </tbody>

   <thead>
      <tr>
        <th>(C) Other Products</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Sink Poppy</td>
        <td>${params.sink_poppy}/Set<br>Exclude Installation</td>
      </tr>
</tbody>

    <thead>
      <tr>
        <th>(D) Other Charges</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Service Extension</td>
        <td>30<br>per 30-min block</td>
      </tr>
      
      <tr>
       <td>Trouble Shoot</td>
        <td>${params.trouble_shoot}/Job</td>
      </tr>
      
       <tr>
       <td>Material Picking Fee<br>(optional)</td>
        <td>45/Trip</td>
      </tr>
      
      <tr>
       <td>Holiday Surcharge</td>
        <td>50/Trip</td>
      </tr>
      
      <tr>
        <td>Condo Surcharge</td>
        <td>10</td>
      </tr>    
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>

<div class="gap">
  <h3>Standard: Sink Fix</h3>
  <h4 class="service-title">Service Info</h4>
  <ul>
    <li>Clearing clogs, part leaks. Extra charges may incur if work involve clearing of food waste, or our crews’ hygiene are compromised.</li>
  </ul>
</div>

<div class="divider"></div>

<div class="gap">
  <h3>Toilet</h3>
  <h4 class="service-title">Service Info</h4>
  <ul>
    <li>Fixing or replacement of the cistern flushing system, to replace toilet bowl.</li>
    <p>
    <li>Sanitary service such as de-clogging of toilet, is excluded.</li>
  </ul>
 </div>

<div class="divider"></div>
<div class="gap">
  <h3>Faucet (Tap) or Water Outlet Fix</h3>
  <h4 class="service-title">Service Info</h4>
  <ul>
    <li>Tightening of shaky taps/faucets, drain pipes etc.</li>
    <p>
    <li>Stop leaks without changing or replaceing components.</li>
    <p>
    <li>Repairs are considered non-standard plumbing and will require a survey to assess the situation. <strong>If it's structural or house developer's issues</strong>, Blooms may not be able to execute the job.</li>
  </ul>
  </p>
</div>

<div class="divider"></div>

<div class="gap">
  <h3>Shower Head & Fitting Fix</h3>
  <h4 class="service-title">Service Info</h4>
  <ul>
    <li>Stop shower accessories leak, or replacement of fixtures (Client to provide).</li>
  </ul>
</div>
<div class="divider"></div>

<div class="gap">
  <h3>Non-Standard Repair Water Leak Projects</h3>
  <h4 class="service-title">Service Info</h4>
  <ul>
  <li>Blooms plumbing crew will survey the site, understand the workscope. Quotation will be provided within 2-3 work days.</li>
  <p>
  <li>If the Quotation is acceptable, the customer can book again through our Blooms App, inputing quotation price in Comment Tab, 
    choose an available time to complete the booking.</li>
  </ul>
</div>

<div class="divider"></div>
<div class="gap">
  <h3 class="service-title">Material Picking Fee</h3>
  <ul>
  <li>All services prices exclude replacement parts. If Blooms is to purchase any replacement parts/components on behalf, customer will only pay <strong>market price (no markup)</strong> for them.</li>
  <p>
    <li>Material Picking Fee is <strong>RM45 or RM60</strong>. Blooms charges the higher RM60, if our technician need to drive <strong>more than 30mins</strong> to the nearest shop, to pick the item(s).
  <p>
  <li>Crews need to collect a deposit for new parts/components purchase.</li>
 </ul>
</div>

<div class="divider"></div>
<div class="gap">
  <h3 class="service-title">Important Notes</h3>
  <ul>
    <li>Blooms' crews place utmost importance in work quality. Our technicians will execute tasks diligently, but may not rush through to complete tasks.</li>
    <p>
    <li>Upon arriving at customers' house, our crews will study the issues/problems and inform if they fall under standard work. If not, crews will report the remedy scope back to Blooms Office. A Quotation will be provided to the customer within 3 working days.</li>
    <p>
    <li>If the non-standard issues/problems can be settled on the same day, and when the crew's daily appointment schedule permit, 
      he will try his best to complete the repairs on the same day.</li>
   </ul>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Customer Care</h4>
    <p>60 11 3934 7848
    <p>+${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>
