---
subtitle: Plumbing and Water Tank Maintenance<br>水喉，止漏水和水箱维护
layout: service
---
<!--image published direct archived in assets/news-->
<div class="gap">  
<h4 class="service-title">PROMOTION<br>Sink POPPY / 洗手盆 POPPY @ only MYR30/pc.</h4>
<p><b>Purchase Sink Poppies and Book 1hr (MYR80) Plumbing Service to install (up to 3 pcs in 1 Hr).
<p>
<img style="width:100%" src="/assets/img/pdf/sink-poppy.jpg">
<br>
<br>

 <!--button section--> 
<div class="divider"></div>
<br>
<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
  <th><a class="btn"  href="/assets/pdf/sink-poppy.jpg">New product - Sink Poppy<br>新产品 - 洗手盆 Poppy</a></th>
  <th><a class="btn"  href="https://youtu.be/tx0ZWZLjrcs">Sink Poppy in action video<br>洗脸盆 Poppy 示范视频</a></th>
<tr>
  <th><a class="btn"  href="/assets/pdf/plumbing-faq.png">Booking FAQ<br>预订问题与解答</a></th>
  <th><a class="btn" href="https://youtu.be/Sr3X0DCXI-M">Blooms' Million Dreams<br>Click to Enjoy</a></th>
  </tr>
 </table>
</div>
</div>
  
<!--Start of Price Table-->
<div class="divider"></div>
<Br>
<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>(A) Plumbing / 水喉工</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1st Hr Rate
        <p>第 1 小时收费</td>
        <td>${params.first_hr}/Hr (小时)</td>
      </tr>
      <tr>
        <td>2nd Hr & more Rate
        <p>第 2 小时或以上收费</td>
        <td>${params.second_or_more_hr}/Hr (小时)</td>
      </tr>
      
       <tr>
       <td>Non-Standard Plumbing Survey
        <p>非标准水喉调查收费
        <p>Waived upon project confirmation<br>项目确定后免除</td>
        <td>${params.survey}/Trip (趟)</td>
      </tr>

      <tr>
       <td>Plumbing Project
         <p>水喉工程项目</td>
        <td>Base on Quotation
        <p>根据报价</td>
        </tr>
    </tbody>

    <thead>
      <tr>
        <th>(B) Water Tank / 水箱</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Tank Wash 1st Hr
        <p>清洗水箱第 1 小时收费</td>
        <td>${params.water_tank_first_hr}/Hr (小时)</span></td>
      </tr>
      <tr>
        <td>Tank Wash 2nd Hr & more
        <p>清洗水箱第 2 小时或以上收费</td>
        <td>${params.water_tank_second_or_more_hr}/Hr (小时)</td>
      </tr>

      <tr>
       <td>Tank Issue Survey<br>水箱调查收费
        <p>
        <p>Waived upon project confirmation<br>项目确定后免除</td>
        <td>${params.tank_issue_survey}/Trip (趟)</td>
      </tr>

      <tr>
        <td>Tank Repair 1st Hr
        <p>维修水箱第 1 小时</td>
        <td>${params.tank_repair_first_hr}/Hr (小时)</td>
      </tr>

      <tr>
      <td>Tank Repair 2nd Hr & more
        <p>维修水箱第 2 小时或以上</td>
        <td>${params.tank_repair_second_or_more_hr}/Hr (小时)</td>
      </tr>
      
      <tr>
       <td>Tank Project
         <p>水箱项目</td>
        <td>Base on Quotation
        <p>根据报价</td>
        </tr>
   </tbody>

   <thead>
      <tr>
        <th>(C) Other Products<br>其它产品</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Sink Poppy<p>洗手盆 Poppy</td>
        <td>${params.sink_poppy}/Pc (个)<br>Exclude Installation<br>不包括安装</td>
      </tr>
</tbody>

    <thead>
      <tr>
        <th>(D) Other Charges
        <p>其它收费</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Service Extension
        <p>加时收费</td>
        <td>${params.currency}30 per 30-min block
       <p>每30分钟块 - 马币30</td>
      </tr>
      
      <tr>
       <td>Trouble Shoot<br>查找问题</td>
        <td>${params.trouble_shoot}/Job (作业)</td>
      </tr>
      
       <tr>
       <td>Material Picking Fee
         <p>代购费</td>
        <td>45 or 60/Trip (趟)</td>
      </tr>
      
      <tr>
       <td>Holiday Surcharge
         <p>假日调查附加费</td>
        <td>20/Trip (趟)</td>
      </tr>
      
      <tr>
        <td>Condo Surcharge
          <p>公寓附加费</td>
        <td>10</td>
      </tr>
      
      <tr>
        <td>No-Show Charge
          <p>缺席收费</td>
        <td>40% of Order Amount
        <p>40% 预订数额</td>
      </tr>
      
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>

<div class="gap">
  <h3>Standard: Sink Fix / 水槽维修</h3>
  <h4 class="service-title">Service Info</h4>
  <ul>
    <li>Clearing clogs, part leaks. Extra charges may incur if work involve clearing of food waste, or our crews’ hygiene are compromised.</li>
    <p>
      <li>堵塞，漏水事故。如需清理厨余垃圾等，另加收费。</li>
  </ul>
</div>

<div class="divider"></div>

<div class="gap">
  <h3>Toilet / 厕所</h3>
  <h4 class="service-title">Service Info</h4>
  <ul>
    <li>Fixing or replacement of the cistern flushing system, to replace toilet bowl.</li>
    <p>
    <li>Sanitary service such as de-clogging of toilet, is excluded.</li>
    <p>
    <li>马桶和抽水系统维修或更换服务。
</div>

<div class="divider"></div>
<div class="gap">
  <h3>Faucet (Tap) or Water Outlet Fix / 水喉或排水管</h3>
  <h4 class="service-title">Service Info</h4>
  <ul>
    <li>Tightening of shaky taps/faucets, drain pipes etc.</li>
    <p>
    <li>Stop leaks without changing or replaceing components.</li>
    <p>
    <li>Repairs are considered non-standard plumbing and will require a survey to assess the situation. <strong>If it's structural or house developer's issues</strong>, Blooms may not be able to execute the job.</li>
    <p>
    <li>拧紧止漏。服务费不包括替换配件。
    <p>
    <li>没更换物件的情况下止漏。</li>
    <p>
    <li>维修工作是列为非标准湿工，必须调查后才能确定是否能执行。如问因屋子结构或发展商的设计出了问题，家盟公司 (Blooms) 有可能没法修。</li>
  </ul>
  </p>
</div>

<div class="divider"></div>

<div class="gap">
  <h3>Shower Head & Fitting Fix / 浴室花洒和水管漏水</h3>
  <h4 class="service-title">Service Info</h4>
  <ul>
    <li>Stop shower accessories leak, or replacement of fixtures (Client to provide).</li>
    <p>
    <li>维修或更换新零件（客户提供配件)。</li>
  </ul>
</div>
<div class="divider"></div>

<div class="gap">
  <h3>Non-Standard Repair Water Leak Projects / 非标准湿工维修项目</h3>
  <h4 class="service-title">Service Info</h4>
  <ul>
  <li>Blooms plumbing crew will survey the site, understand the workscope. Quotation will be provided within 2-3 work days.</li>
  <p>
  <li>If the Quotation is acceptable, the customer can book again through our Blooms App, inputing quotation price in Comment Tab, 
    choose an available time to complete the booking.</li>
  <p>
    <li>请预订技师1趟次实地调查情况。我们将于 2 至 3 工作日内提供你维修内容，时限和报价。</li>
    <p>
    <li>如客户接受报价，可在家盟 (Blooms) 手机应用程序预定服务。把报价咨询（如价格，要求等），写在评论窗，便可完成预定。</li>
  </ul>
</div>

<div class="divider"></div>
<div class="gap">
  <h3 class="service-title">Material Picking Fee / 代购费</h3>
  <ul>
  <li>All services prices exclude replacement parts. If Blooms is to purchase any replacement parts/components on behalf, customer will only pay <strong>market price (no markup)</strong> for them.</li>
  <p>
    <li>Material Picking Fee is <strong>RM45 or RM60</strong>. Blooms charges the higher RM60, if our technician need to drive <strong>more than 30mins</strong> to the nearest shop, to pick the item(s).
  <p>
  <li>Crews need to collect a deposit for new parts/components purchase.</li>
  <p>
  <li>服务不包括替代件（如花洒，水龙头，水管等）。如替客户买，<strong>公司会另加代购费 RM45 或 RM60。</strong></li>
  <p>
  <li>代购收费为 RM45 或 RM60。如技师需要花超过 30 分钟路程才能到达最近的商店，家盟公司将征收较高的 RM60 代购费。</li>
  <p>
  <li>如需要提客户买替代物件，家盟技师会跟客户收订金。</li>
  </ul>
</div>

<div class="divider"></div>
<div class="gap">
  <h3 class="service-title">Important Notes / 重要资讯 </h3>
  <ul>
    <li>Blooms' crews place utmost importance in work quality. Our technicians will execute tasks diligently, but may not rush through to complete tasks.</li>
    <p>
    <li>Upon arriving at customers' house, our crews will study the issues/problems and inform if they fall under standard work. If not, crews will report the remedy scope back to Blooms Office. A Quotation will be provided to the customer within 3 working days.</li>
    <p>
    <li>If the non-standard issues/problems can be settled on the same day, and when the crew's daily appointment schedule permit, 
      he will try his best to complete the repairs on the same day.</li>
    <p>
    <li>家盟技师把工作质量优先，会勤力，负责任的把问题解决。</li>
    <p>
    <li>家盟技师到客户家后，会测查问题是否属标准作息。如是非标工作，技师会把修补概况并报公司。客户将在 3 工作日内收到报价。</li>
    <p>
    <li>小型非标工作，如果技师当天的工作行程表应许，他也会尽量在同一天内把问题解决。</li>
  </ul>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Customer Care / 客户服务</h4>
    <p>+60 11 3934 7848
    <p>+${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>
