---
subtitle: Runner & General Help.<br><br>Most versatile Service in Blooms. From inpsecting your house to ferrying elderly for hospital appointments, grocery shopping etc.
layout: service
---

<div class="gap">
<h4 class="service-title">ANY GENERAL HOME RELATED TASKS</h4>
<p><b>Any help you need even if you're away from home. Only MYR 30/Trip.</b>
<p>
<img style="width:100%; border-radius:15px;" src="/assets/img/news/runner_service.jpg">  <!--image published direct archived in assets/news-->
<p>

<!--Buttons-->
<p>
<table style="width:100%">
<tr>
  <th><a class="btn"  href="https://youtu.be/o_b5_PtPV8A">Services Video<br>Click Here</a></th>
  <th><a class="btn" href="/assets/pdf/runner_service.jpg">Must See Tips before Booking</a></th>
<tr>
  <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives</a></th>
  </tr>
 </table>
</div>
</div>
<p>

<!--Price Table-->
<div class="divider"></div>
<p>
<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Items</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>Survey</td>
        <td>${params.survey}/Trip</td>
      </tr>
      
        <tr>
        <td>Vehicle Inspection</td>
        <td>${params.inspection}/Job</td>
      </tr>
      
       <tr>
        <td>Helper</td>
        <td>${params.helper}/Trip</td>
      </tr>
      
      <tr>
       <td>Emergency Booking</td>
        <td>${params.emergency}/Trip</td>
      </tr>
      
       <tr>
        <td>Errand Project</td>
        <td>Quote after site survey</td>
      </tr>
  
      <tr>
        <td>Condo Surcharge</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
  <h4 class="service-title">Service Info</h4>
  <br>
  <p><b>(A) Vehicle Inspection (Puspakom)</b>
  <ul>
    <li>Customer is to ensure vehicle is checked and inspected at Workshop before picked up by Blooms crew. Blooms does not guarantee inspection passes.</li>
    <p>
    <li>All valuables will be returned to customer upon vehicle pick up, and Blooms tries to return the vehicle on the same day (depends on pick up booking time and queue at inspection centre).</li>
    <p>
    <li>Only credit payment accepted.</li>
    <p>
    <li>Road tax & inspection receipts will be provided to customer upon return of vehicle.</li>
  </ul>
  
  <br>
  <p><b>(B) Helper Chores</b></br>
  <p>Any chores which do not require Blooms' crew to bring own tools, which can be completed in less than 30 mins, such as:
    <ul>
    <li>Watering of plants.</li>
    <p>
    <li>Feeding of pets.</li>
    <p>
    <li>Engine warming of vehicles.</li>
    <p>
    <li>General visual checks on house.</li>
    <p>
    <li>Collect/Purchase groceries/medical items/small house items from a specific location(s) on behalf, etc</li>
    </ul>

 <br>
  <p><b>(C) Errand Projects</b></br>
  <p>Any customised errands, specific to customers' requirements such as:
    <ul>
    <li>Arranging for items removal.</li>
    <p>
    <li>Debri disposal.</li>
    <p>
    <li>Supervison of customer's contractors.</li>
    <p>
    <li>Purchase or receiving of big ticket items on behalf etc...</li>
    </ul>
</div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Customer Care</h4>
    <p>${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>
