---
subtitle: Runner & Helper / 服务代劳<br><br>Small or minor tasks/chores which can be performed by 1 crew. Book a Survey and tell us what you need.<br><br>任何一人可执行的居家的杂务，都可预订调查服务，让我们了解您的需要。
layout: service
---
<!--image published direct archived in assets/news-->
<div class="gap">
<h4 class="service-title">ANY TASKS</h4>
  <p><b>Any help you need even if you're away from home. Only MYR 30/Trip.</b>
<p>
<img style="width:100%" src="/assets/img/news/runner_service.jpg">
<p>

<!--Buttons-->
<p>
<div class="pricing">
<table style="width:100%">
<tr>
  <th><a class="btn"  href="https://youtu.be/o_b5_PtPV8A">Services Video<br>Click Here</a></th>
  <th><a class="btn" href="/assets/pdf/runner_service.jpg">Must See Tips before Booking</a></th>
<tr>
  <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives<br>4个妻子的故事</a></th>
  </tr>
 </table>
</div>
</div>
<p>

<!--Price Table-->
<div class="divider"></div>
<p>
<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Items</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>Survey<br>现场调查</td>
        <td>${params.survey}/Trip (趟)</td>
      </tr>
      
        <tr>
        <td>Vehicle Inspection
          <p>车检验代劳</td>
        <td>${params.inspection}/Job (辆车)</td>
      </tr>
      
       <tr>
        <td>Helper
          <p>帮手</td>
        <td>${params.helper}/Trip (趟)</td>
      </tr>
      
      <tr>
       <td>Emergency Booking
          <p>紧急预订</td>
        <td>${params.emergency}/Trip （趟）</td>
      </tr>
      
       <tr>
        <td>Errand Project<br>差事项目</td>
        <td>Quote after site survey<br>调查后报价</td>
      </tr>
  
      <tr>
        <td>Condo Surcharge
          <p>公寓附加费</td>
        <td>10</td>
      </tr>
      
       <tr>
        <td>No-Show Charge
        <p>缺席收费</td>
        <td>40% of Order Amount
         <p>40% 预订数额</td>
      </tr>
      
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
  <h4 class="service-title">Service Info / 服务信息</h4>
  <br>
  <p><b>(A) Vehicle Inspection (Puspakom)<br>车代检验</b>
  <ul>
    <li>Customer is to ensure vehicle is checked and inspected at Workshop before picked up by Blooms crew. Blooms does not guarantee inspection passes.</li>
    <p>
    <li>All valuables will be returned to customer upon vehicle pick up, and Blooms tries to return the vehicle on the same day (depends on pick up booking time and queue at inspection centre).</li>
    <p>
    <li>Only credit payment accepted.</li>
    <p>
    <li>Road tax & inspection receipts will be provided to customer upon return of vehicle.</li>
    <p>
    <li>客户必须把车送往车作坊进行维护/维修，保持安全驾驶状态。家盟只帮客户送往检测中心，不包保证检验结果。</li>
    <p>
    <li>所有贵重物件，客户必须在家盟员工领走车之前，把它收好。东西遗失，公司将不负责。</li>
    <p>
    <li>公司尽量把车在同一天归还给客户。这必须看客户预订领车时间，和检测中心的情况而定。</li>
    <p>
    <li>客户必须用行用卡付款。</li>
    <p>
    <li>所有收据将在归车时，提交给客户。</li>
  </ul>
  
  <br>
  <p><b>(B) Helper Chores / 帮手</b></br>
  <p>Any chores which do not require Blooms' crew to bring own tools, which can be completed in less than 30 mins, such as:
    <ul>
    <li>Watering of plants.</li>
    <p>
    <li>Feeding of pets.</li>
    <p>
    <li>Engine warming of vehicles.</li>
    <p>
    <li>General visual checks on house.</li>
    <p>
    <li>Collect/Purchase groceries/medical items/small house items from a specific location(s) on behalf, etc</li>
    <p>
    <li>园丁交水，灌溉等。</li>
    <p>
    <li>宠物为食。</li>
    <p>
    <li>启动车引擎。</li>
    <p>
    <li>房屋状况检阅。</li>
    </ul>

 <br>
  <p><b>(C) Errand Projects / 差事项目</b></br>
  <p>Any customised errands, specific to customers' requirements such as:
    <ul>
    <li>Arranging for items removal.</li>
    <p>
    <li>Debri disposal.</li>
    <p>
    <li>Supervison of customer's contractors.</li>
    <p>
    <li>Purchase or receiving of big ticket items on behalf etc...</li>
    <p>
    <li>调协搬家。</li>
    <p>
    <li>丢弃垃圾。</li>
    <p>
    <li>监督承包商工作。</li>
    <p>
    <li>代客户买或接受大型物件，等等。</li>
    </ul>
</div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Customer Care / 客户服务</h4>
    <p>${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>
