---
subtitle: Curtain Modification. Blooms collects, resizes and delivers back to you.
layout: service
---

<div class="gap">
<div class="pricing">
<table style="width:100%">
<tr>
 <th><a class="btn"  href="https://youtu.be/Sc-Z1N4DjxM">How to Order Video</a></th>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives</a></th>
 </tr>
 </div>
</table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
       <th><b>Vertical Trimming<br>By Curtain Pieces</b></th>
       <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td>Vertical<br>Min Order</td>
        <td>${params.first_hr_cutting}</td>
      </tr>
      
     <tr>
        <td>Site Survey</td>
        <td>Free</td>
      </tr>
      
      <tr>
        <td>Project</td>
        <td>Quote after survey</td>
      </tr>
      
      <tr>
       <td>Small Disposal Fee<br> Up to 3 bags</td>
        <td>${params.small_debri}/Job</td>
      </tr>
        
      <tr>
       <td>Big Disposal Fee<br>more than 3 bags</td>
        <td>${params.big_debri}/Job</td>
      </tr>
      </tbody>
      <thead>
      <tr>
       <th><b>Horizontal Trimimg<br>By Curtain Length</b></th>
       <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td>Service Extension<br>(Optional)</td>
        <td>20<br>per 30-min block</td>
      </tr>
      <tr>
       <td>Outside JB<br>Transport Charges<br><br>Scroll Below<br>for Locations</td>
       <td>30/Trip</td>
      </tr>      
      <tr>
        <td>Material Picking Fee<br>(Optional)</td>
        <td>45/Trip</td>
      </tr>      
      <tr>
        <td>Public Holiday<br>Surcharge</td>
        <td>20</td>
      </tr>      
      <tr>
        <td>Condo Surcharge</td>
        <td>10</td>
      </tr>      
      <tr>
        <td>No-Show Charge</td>
        <td>20</td>
      </tr>      
    </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>

<div class="gap">
  <div class="service-info">
    <h5 class="service-title">Service Info</h5>
    <p>Trim grass with petrol cutting machine. Blooms crew will pack debris and place outside the house.
    <p>
    <p>Time starts when crew enters the premise, and stops when he leaves it. Minimum booking duration is 1 hour, after which,
      additional charges will be in <b>30-min blocks</b>.
    <p>For other landscaping, turfing, tree trimming or felling, fertilizer placements services, our Blooms landscape specialist 
      will visit the site for a survey, then provide a <b>Quotation within 3 working days</b>.
    </p>
 </div>
 </div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h4 class="service-title">Transport Charge</h4>
   <p>
   <p><b>Chargeable Locations:</b>
    <ul>
     <li>Permas Jaya</li>
     <li>Masai</li>
     <li>Pasir Gudang</li>
     <li>Setia Indah</li>
     <li>Kulai</li>
     <li>Senai</li>
   </ul>
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Material Picking Fee</h4>
    <ul>
      <li>Additonal <strong>${params.currency}45</strong> fee incurred if customer request Blooms crew to purchase any items (fertilisers, soil, seeds, tools, pots etc). This fee guarantees the Client gets the correct materials, and saves him/her the hassle of travelling to-and-fro (in rain or heat) to purchase items he/she might not be familiar with.</li>
     </p>
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Offsite Debri Disposal Fee</h4>
    <ul>
      <li>Standard cutting service include sweeping and packing debris, leaving the packages outside the house for collection. It excludes offsite disposal.</li>
      <p>
      <li>If customer requires debri to be taken away from the house, additonal charge (from <strong>${params.currency}35</strong>) will be incurred and it will be based on the quantity.</li>
     </ul>
 </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h5 class="service-title">Customer Care</h5>
    <p>${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>
