---
subtitle: Curtain Modification. Blooms collects, cuts, sews & delivers your curtains back to you.
layout: service
---

<div class="gap">
<div class="pricing">
<table style="width:100%">
<tr>
 <th><a class="btn"  href="https://youtu.be/BAThRT_sC7c">How to Order Video</a></th>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives</a></th>
 </tr>
 </div>
</table>
</div>
</div>

<div class="pricing">
  <table>
    
   <!--Transport compulsory charge-->
    <thead> 
      <tr>
       <th><b>Transport</b></th>
       <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td>To & Fro<br>Collect & Deliver
         <p><br>Scroll below for<br>service locations</td>
        <td>${params.to_and_fro}/Order</td>
      </tr>
    </tbody>
   
   <!--Vertical Trim-->
     <thead> 
      <tr>
       <th><b>Vertical Trim<br>By Curtain Quantiy</b></th>
       <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td>1 Piece Only</td>
        <td>${params.vertical_trim_one_piece}/Job</td>
      </tr>
      <tr>
       <td>Curtain Quantity<br>2pcs or more</td>
       <td>${params.curtain_quantity}/Piece</td>
      </tr>      
   </tbody>
   
   <!--Horizontal Trim-->
      <thead>
      <tr>
       <th><b>Horizontal Trim<br>By Curtain Length</b></th>
       <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td>First 2-meter length</td>
        <td>${params.horizontal_trim_first_2meter}/Job</td>
      </tr>
      <tr>
       <td>Curtain Length<br>2.5m or more</td>
       <td>${params.curtain_length}/Meter</td>
      </tr>      
   </tbody>
   
    <thead>
      <tr>
       <th><b>Other Charges</b></th>
       <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td>Curtain<br>Dismantling</td>
        <td>30/Hr</td>
      </tr>
     
     <tr>
        <td>Curtain<br>Installation</td>
        <td>50/Hr</td>
      </tr>
     
      <tr>
        <td>Condo Surcharge</td>
        <td>10</td>
      </tr>
      </tbody> 
    </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>

<div class="gap">
  <div class="service-info">
   <h5 class="service-title">Service Info</h5>
   <h4 class="service-title">Service Locations</h4>
   <ul>
     <li>Bukit Indah</li>
     <li>Puteri Habour</li>
     <li>Skudai</li>
     <li>Kulai</li>
     <li>Senai</li>
   </ul>
   For other areas, please call our Customer Care to check. Blooms will continue to expand to other locations soon.
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h5 class="service-title">FAQs</h5>
   <h4 class="service-title">When does Blooms' crew come to collect my curtains?</h4>
   You decide. Choose available date and time from our booking calendar.
   <br>
   <h4 class="service-title">When will my altered curtains be returned?</h4>
   In 2-5 working days. Our crew will call you 1 day prior to delivery.
   <br>
   <h4 class="service-title">My location is not specified in the app. Can I order?</h4>
   Yes you can. If there is extra charge, our crew will call you to advise.<br><br>If you don't hear from us, it means you'll be charged the standard to-&-fro rate of MYR ${params.to_and_fro}.
   <br>
   <h4 class="service-title">What if I order or input the wrong dimensions?</h4>
   No issue at all. Blooms charges based on actual curtain dimensions.<br><br>You can also seek our crew to verify when they are at your house for curtain collection.
     
   
</div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h5 class="service-title">Customer Care</h5>
    <p>${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>
