---
subtitle: Curtain Modification. Blooms collects, cuts, sews & delivers back to you.
layout: service
---

<div class="gap">
<div class="pricing">
<table style="width:100%">
<tr>
 <th><a class="btn"  href="https://youtu.be/Sc-Z1N4DjxM">How to Order Video</a></th>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives</a></th>
 </tr>
 </div>
</table>
</div>
</div>

<div class="pricing">
  <table>
   
   <thead>
      <tr>
       <th><b>Vertical Trimming<br>By Curtain Pieces</b></th>
       <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td>Min Order</td>
        <td>${params.first_hr_cutting}</td>
      </tr>
      
     <tr>
        <td>Curtain Piece</td>
        <td>17/Pc</td>
      </tr>
      </tbody> 
   
   <thead>
      <tr>
       <th><b>Horizontal Trimimg<br>By Curtain Length</b></th>
       <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td>Min Order</td>
        <td>30</td>
      </tr>
      <tr>
       <td>Curtain Length<br>Meters</td>
       <td>8/m</td>
      </tr>      
   </tbody>
   
    <thead>
      <tr>
       <th><b>Other Charges</b></th>
       <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>      
      <tr>
        <td>Transport<br>Charge</td>
        <td>20/Trip</td>
      </tr>
      
     <tr>
        <td>Curtain<br>Dismantling</td>
        <td>30/Hr</td>
      </tr>
     
     <tr>
        <td>Curtain<br>Installation</td>
        <td>50/Hr</td>
      </tr>
     
      <tr>
        <td>Condo Surcharge</td>
        <td>10</td>
      </tr>
      </tbody> 
    </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>

<div class="gap">
  <div class="service-info">
    <h5 class="service-title">Service Info</h5>
     Coming soon.
    </p>
 </div>
 </div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h4 class="service-title">Premium Transport Charge</h4>
   <p>
   <p><b>Chargeable Locations:</b>
    <ul>
     <li>Permas Jaya</li>
     <li>Masai</li>
     <li>Pasir Gudang</li>
     <li>Setia Indah</li>
     <li>Kulai</li>
     <li>Senai</li>
   </ul>
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Material Picking Fee</h4>
    Coming soon.
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
   <h4 class="service-title">Trimming FAQs</h4>
   Coming Soon
 </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h5 class="service-title">Customer Care</h5>
    <p>${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>
