---
subtitle: Standard & Waterproof Tiling or Cement Works. Tile washes. / 普通和防水瓷砖，水泥工程，和专业瓷钻地板清洗。
layout: service
---
<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives<br>4个妻子的故事</a></th>
</tr>
 </table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>(A) Non-Waterproofing / 无防水</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>1st Hour Rate
        <p>第1小时收费</td>
        <td>${params.first_hr}</td>
      </tr>
      
       <tr>
        <td>2nd Hour Onward Rate
        <p>第2小时或以上收费</td>
        <td>${params.second_or_more_hr}</td>
      </tr>
    </tbody>
     <thead>
      <tr>
        <th>(B) Waterproof Work / 防水工</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Unit Rate (Supply Tiles)<br>单位价 （提供瓷砖)</td>
        <td>${params.with_tiles_one}/ft2<br><b>>200 ft<sup>2</sup></b></td>
      </tr>
      
       <tr>
        <td>Unit Rate (No Tile Supply)
        <p>单位价 （无瓷砖供应）</td>
        <td>${params.no_tile_one}/ft2<br><b>>200 ft<sup>2</sup></b></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th>(C) Project / 项目</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
       <tr>
        <td>Project Survey<br>(Quote within 1-3 days)
        <p>项目调查<br>(1-3 工作日内报价)</td>
        <td>Free<br>免</td>
      </tr>
      
      <thead>
      <tr>
        <th>(D) Other Charges<br>其它费用</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <td>Service Extension<br>加时服务收费</td>
        <td>${params.currency}30 per 30-min block<br>每30分钟块 - 马币30</td>
      </tr>
      
      <tr>
        <td>Material Picking Fee（Optional)<br>代购费（如需要）</td>
        <td>45/Trip（趟)</td>
      </tr>
      
      <tr>
        <td>Condo Surcharge<br>公寓附加费</td>
        <td>10</td>
      </tr>
      
      <tr>
        <td>No-Show Charge<br>缺席收费</td>
        <td>40% of Order Amount<br>40% 预订数额</td>
      </tr>
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>

<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Service Info / 服务信息</h4>
    <p>
    <p><strong>IMPORTANT NOTES / 请注:</strong>
    <ul>
    <li>Blooms offers only <strong>standard quality tiles</strong>. Customer can opt to provide tiles to Blooms, by selecting <strong>No Tile Supply</strong> option.</li>
    <p>
    <li>Crew will confirm area again on site, before work commencement. Charges will be based on actual measured area, not on Booking Order.</li>
    <p>
    <li>Minimum booking duration is 1 hour. Service extension will be charged in 30-min blocks.</li>
    <p>
    <li>Technician will bring tools and materials.</li>
    <p>
    <li>家盟 (Blooms) 只提供<strong>标准，普通级瓷砖</strong>。如客人需要更多样化的砖品，可选择自己购买，然后提供瓷砖给我们。</li>
    <p>
    <li>技师会在开工前，测量面积。收费会以实地面积计算。</li>
    <p>
    <li>最短预订时间为 1 小时。加时服务费将以30分钟为计算单位。</li>
    <p>
    <li>技师自带工具和材料。</li>
    </ul>

  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Customer Care / 客户服务</h4>
    <p>${params.phone}</p>
    <p>${params.email}</p>
  </div>
</div>
