---
subtitle: Waterproofing. Outdoor Roofs to Indoor Kitchen, Bathrooms, Windows etc .
layout: service
---
<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives</a></th>
 <th><a class="btn"  href="https://youtu.be/o_b5_PtPV8A">Blooms Home Services<br>Tap to view</a></th>
</tr>
</table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
       <th><b>Outdoor Works</b></th>
       <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Survey<br><br>Waive upon<br>project confirmation</td>
          <td>${params.survey}/Trip</td>
      </tr>
      
      <tr>
       <td>Waterproof Project</td>
       <td>Per Quotation</a></td>
      </tr>
      
      <tr>
       <td>Videos</td>
       <td>Coming Soon</td>
      </tr>

      <tr>
       <td>Photos</td>
       <td>Coming Soon</td>
      </tr>
  </tbody>
   <thead>
      <tr>
       <th><b>Indoor Works</b></th>
       <th><b>Pricing (${params.currency})</b></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Silicon Re-proofing<br>1st Hour<br><br>See below for<br>service information</td>
          <td>${params.reproofing_first_hour}/Hr</td>
      </tr>
      <tr>
          <td>Silicon Re-proofing<br>2nd Hour or more<br></td>
          <td>${params.reproofing_second_hour}/Hr</td>
      </tr>
     
      <tr>
       <td>Videos</td>
       <td>Coming Soon</td>
      </tr>
     
      <tr>
       <td>Photos</td>
       <td>Coming Soon</td>
      </tr>
     
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Service Info</h4>
    
<!--image published direct archived in assets/news-->
<p>
<img style="width:100%" src="/assets/img/news/waterproofing_roof.jpg">
<p>
<p><b>Outdoor Works</b>
 <p>
 Warranty is usually 6 months. Discount coupon does not apply to project works.<br><br>For bigger projects exceeding 5 days' work, our payment schedules are as follows: 
 <ul>
  <li>35% (TT - Deposit),</li>
  <p>
  <li>50% (TT - Half Work),</li>
  <p>
  <li>15% (Credit Card - Complete).</li>
 </ul>
 </p>
</div>
</div>

<div class="divider"></div>
<div class="gap">
 <br>
 <b>Indoor Silicon Re-proofing Works</b></br>
 <ul>
    <li>Warranty is usually 12 months.</li>
    <p>
    <li>Price stated in App uses standard grade silicon.</li>
    <p>
    <li>Customers can request for premium anti-fungal silicon in app comment window during service booking. There will be additional material charge.</li>
</ul>
</div>
</div>

<div class="divider"></div>
<div class="gap">
<div class="service-info">
  <h4 class="service-title">Customer Care</h4>
  <p><b>Enquiry:</b>
  <p>${params.phone}</p>
  <p>${params.email}</p>
</div>
</div>
