---
subtitle: Waterproofing / 防水大小工程
layout: service
---

<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
 <th><a class="btn" href="https://youtu.be/OyAAi2bdcj4">Happy Chinese New Year<br>新年快乐视频</a></th>
 <th><a class="btn"  href="https://youtu.be/o_b5_PtPV8A">Blooms Home Services<br>Click to view</a></th>
</tr>
 
<tr>
 <th><a class="btn"  href="https://youtu.be/SclvbJ_azho">Blooms' 星洲日报采访视频</a></th>
 <th><a class="btn" href="https://youtu.be/el0V18ryrLQ">Story of 4 Wives<br>4个妻子的故事</a></th>
</tr>
 
</table>
</div>
</div>

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Activities</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Survey<br>调查
           <p>Waived upon project confirmation<br>项目确定后免除</td>
          <td>${params.survey}/Trip</td>
      </tr>
      
      <tr>
       <td>Moist Wall Mould Treatment</td>
        <td>Coming Soon</td>
      </tr>
      
       <tr>
       <td>Project<br>项目</td>
        <td>Quotation<br>报价</a></td>
      </tr>
      
      <tr>
       <td>Videos</td>
        <td>Coming Soon</td>
      </tr>
      <tr>
       <td>Photos</td>
        <td>Coming Soon</td>
      </tr>
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
<div class="service-info">
<h4 class="service-title">Service Info / 服务信息</h4>
 

<div class="divider"></div>
<div class="service-info">
    <h4 class="service-title">Customer Care</h4>
    <p>+60 10 883 0800 or +60 10 935 2700</p>
    <p>${params.email}</p>
    <p>www.blooms.my</p>
</div>

