---
subtitle: Waterproofing / 防水大小工程
layout: service
---

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Activities</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Survey</td>
          <td>${params.survey}/Trip</td>
      </tr>
      
      <tr>
       <td>Moist Wall Mould Treatment</td>
        <td>Coming Soon</td>
      </tr>
      
       <tr>
       <td>Project<br>项目</td>
        <td>Quotation<br>报价</a></td>
      </tr>
      
      <tr>
       <td>Videos</td>
        <td>Coming Soon</td>
      </tr>
      <tr>
       <td>Photos</td>
        <td>Coming Soon</td>
      </tr>
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Service Info / 服务信息</h4>
    

<div class="divider"></div>
<div class="service-info">
    <h4 class="service-title">Customer Care</h4>
    <p>+60 10 883 0800 or +60 10 935 2700</p>
    <p>${params.email}</p>
    <p>www.blooms.my</p>
</div>

