---
subtitle: DIY Installation Workshop / DIY 安装工作坊
layout: service
---

<div class="pricing">
  <table>
    <thead>
      <tr>
        <th>Activities</th>
        <th>Pricing (${params.currency})</th>
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>Details coming soon</td>
        <td>${params.installation}/Pax</td>
      </tr>
      
       <tr>
        <td>Club House Swimming</td>
        <td>Free for participants</td>
      </tr>
      
      <tr>
       <td>Ice Cream & ${params.currency}10 Voucher</td>
        <td>Sponsored by IKEA</td>
      </tr>
      
       <tr>
       <td>Workshop Brochure</td>
        <td><a href="/assets/pdf/Installation_DIY.pdf">Download</a></td>
      </tr>
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Workshop Info / 工作坊信息</h4>
  <br>
  <p><b>(A) Introduction to IKEA Family</b>
    <p><b> (B) Installation Know-How</b>
    <p><b> (C) Hands on Practice and more ...</b></p>
</div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Workshop Ambassador</h4>
    <p>+60 11 3934 7848 or +60 10 935 2700</p>
    <p>${params.email}</p>
    <p>www.blooms.my</p>
  </div>
</div>

