---
subtitle: Interesting DIY Workshops<br>多种有趣的 DIY 工作坊
layout: service
---
<div class="divider"></div>
<div style="text-align:center;">
<img style="width:100%; display:inline-block" src='/assets/img/news/xmas-cancelled.jpg'/>
<p>
  
<div class="pricing">
<div class="gap">
<table style="width:100%">
<tr>
<th><a class="btn"  href="/assets/pdf/Xmas-Workshop-Cancellation.pdf">Xmas Ornament DIY Workshop<br><b>Cancellation Memo</b></a></th>
</tr>
</table>
</div>
</div>

<div class="divider"></div>
<div style="text-align:center;">
<img style="width:100%; display:inline-block" src='/assets/img/news/diy-cancelled.png'/>
<p>

<div class="gap">

<header>
<p style="color:red; font-size:20px;">Blooms Customer-Care will reach out to all participants within 1 week.<br>We apologise for the inconvenience caused.</p>
</header>
</div>
   
  <div class="pricing">
  <table>  
   <thead>
      <tr>
        <th><b>(B)<b> DIY Installation Workshop</b></th>
          <th><b> 16 Jan 2021</b></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Participation Fee<td>${params.installation}/Pax</td>
      </tr>
      
       <tr>
        <td>Participant age range</td>
        <td>7 - 15 years</td>
      </tr>
      
      <tr>
       <td>Below 10 years old</td>
        <td>Need accompanying<br>parent(s)</td>
      </tr>
      
       <tr>
       <td>One DIY Item<br>per participant</td>
        <td>To be be taken home</td>
      </tr>
      
       <tr>
       <td>Swimming & Sport Facilities after Workshop</td>
        <td>Free for participant(s)</td>
      </tr>
      
       <tr>
       <td>DIY Installation Brochure<br>DIY 安装工作坊宣传册</td>
        <td><a class="btn"  href="/assets/pdf/diy.png">Download / 下载</a></td>
      </tr>
      
      <tr>
       <td>Program & Rules</td>
        <td><a class="btn"  href="/assets/pdf/programs.pdf">Download / 下载</a></td>
      </tr>
      <tr>
       <td>节目内容和规则</td>
        <td><a class="btn" href="/assets/pdf/programs_chinese.pdf">Download / 下载</a></td>
      </tr>
  </tbody>
  </table>
  <div class="fineprint">
    Prices subject to change without prior notice
  </div>
</div>

<div class="divider"></div>
<div class="gap">
  <div class="service-info">
  <h4 class="service-title">DIY Installation Workshop Info<br>DIY 安装工作坊信息</h4>
    
<body>
<h4 style="text-align:center;">PROGRAMS</h4>
<table>
  <tr>
    <th><b>130 to 2pm</b></th>
   </tr>
  <tr>
    <td>Registration</td>
    </tr>
  
   <tr>
     <th><b>2 to 230pm</b></th>
  </tr>
  <tr>
    <td>Introduction to IKEA (origin, development and its philosophy)</td>
   </tr>
  
  <tr>
    <th><b>230 to 315pm</b></th>
   </tr>
  <tr>
    <td>Explanation of workshop flow and demonstration of installation for IKEA items</td>
   </tr>
  
   <tr>
     <th><b>315 to 430pm</b></th>
   </tr>
  <tr>
    <td>Split groups and carry out installation of selected IKEA items</td>
   </tr>
  
   <tr>
     <th><b>430 to 5pm</b></th>
   </tr>
  <tr>
    <td>Present lucky prizes</td>
    
   <tr>
     <th><b>5 to 7pm</b></th>
   </tr>
  <tr>
    <td>Free & Easy<br>Free use of clubhouse facilities for badminton, tennis, table-tennis & swimming pool<br>(Where available)</td>
    </tr>
    </tr>
</table>
</body>
</html>
</div>
</div>
  
  
<div class="divider"></div>
<div class="gap">
  <div class="service-info">
    <h4 class="service-title">Workshop Ambassadors</h4>
    <p>Wai Kong: +60 11 3934 7848
    <p>Annie: +60 10 935 2700</p>
    <p>${params.email}</p>
    <p>www.blooms.my</p>
  </div>
</div>

