---
---

@import '_settings';

.layout-service{
  padding-bottom: 50px;
  .hero{
    // display: none;
  }
  h1{
    font-size: 18px;
    font-weight: normal;
    display: none;
  }
  .example{
    color: #999;
  }
  .pricing{
    margin: 20px 0;
    table{
      border-width: 1px 0;
    }
    .fineprint{
      font-size: 11px;
      color: #bbb;
      margin: 10px 0 0 0;
      text-align: center;
    }
  }
  .content{
    .subtitle{
      margin: 20px;
      // padding-bottom: 20px;
      // border-bottom:1px solid #eee;
      color: $primaryColor;
      font-weight: bold;
    }
    
    h2{
      color: #fd8f82;
      border-radius:5px;
      text-align:center;
      width: 20%;
    }
    
    h3{
      color: $primaryColor;
      font-weight: normal;
    }
    h4{
      font-weight: normal;
      font-size: larger;
      color: #999;
      margin-bottom: 10px;
    }
    h5{
      background-color:#fd8f82;
      border-radius:5px;
      text-align:center;
      width:20%;
      font-family: Arial;
      border:1px solid #000000;
    }
        
      .gap:last-child{
      .service-info{
        padding-bottom: 15px;
      }
    }
    .service-info{
      margin-bottom: 30px;
      // padding-bottom: 15px;
      // border: 1px solid #eee;
      border-bottom: 1px solid #ddd;
      &:last-child{
        border-bottom: none;
      }
    }
  }
}
