---
---

@import '_settings';

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  color: #333;
}

a{
  color: $primaryColor;
}

table {
  font-size: 0.95em;
}

p{
  margin-top: 0;
}

img.hero{
  width: 100%;
}

.divider{
  border-top: 1px solid #eee;
  height: 5px;
  background: #f9f9f9;
}

.gap{
  margin: 0 20px;
}

table{
  width: 100%;
  border: 1px solid $primaryColor;
  border-collapse: collapse;
  // margin: 20px 0;
  td, th{
    border: 1px solid #ddd;
    padding: 5px;
  }
  th{
    background: #f5f5f5;
    color: #666;
    font-weight: normal;
  }
  td{
    text-align: center;
    color: #999;
  }
}

video {
  width: 100%;
  border-top: 0px solid $primaryColor;
  border-left: 1px solid $primaryColor;
  border-right: 1px solid $primaryColor;
  border-bottom: 1x solid $primaryColor;
  border-collapse: collapse;
  // margin: 20px 0;
  td, th{
    border: 1px solid #ddd;
    padding: 5px;
  }
  th{
    background: #f5f5f5;
    color: #666;
    font-weight: normal;
  }
  td{
    text-align: center;
    color: #999;
  }
}

.promotion{
  margin: 100px 20px;
  text-align: center;
  color: $primaryColor;
  font-size: 28px;
  font-weight: 200;
}

.no-list{
  margin-left: 0;
  padding-left: 0;
  li{
    list-style: none;
  }
}

.btn {
  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #ffffff;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  background-color: #fd8f82;
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: rgb(118, 118, 118);
  border-image: initial;
  border-radius: 8px;
  width: 135px;
}
.title-body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.share-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efefef;
  padding: 6px 10px;
   flex-direction: column;
}

.share-container i {
  font-size: 35px;
  color: #009efd;
}

.share-container span {
  font-size: 12px;
  font-weight: 700;
  margin-top: 2px;
  white-space: nowrap;
}

